doctype html
html(lang="ru")
  head
    include ../blocks/head
  body
    .background.lazy(data-src='img/backgrounds/background.jpg')
    .wrapper
      .page
        include ../blocks/header
        .page__container.container
          aside.aside
            include ../blocks/lcv-nav
          main.main
            section.section
              .section__head
                .decorated
                  span.decoration
                  h5.section__head-title Мои данные
                  span.decoration
              .container
                form(action="").form.row
                  .form__group.col-xl-4.col-sm-6.col-12
                    input(type="text" placeholder="Фамилия / Имя").input.input_style4
                  .form__group.col-xl-4.col-sm-6.col-12
                    //если заполнено
                    input(type="email" placeholder="e-mail:" value="example@gmail.com" disabled).input.input_style4
                  .form__group.col-xl-4.col-sm-6.col-12
                    input(type="text" placeholder="тел.: +7(***)***-**-**").input.input_style4
                  .form__group.col-xl-4.col-sm-6.col-12
                    button.button.button_style7 Редактировать
                  .form__group.col-xl-4.col-sm-6.col-12
                    button.button.button_style8 Сохранить
        //footer
        include ../blocks/footer
        //other
        include ../blocks/popup
        include ../blocks/fixed
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")