doctype html
html(lang="ru")
  head
    include ../blocks/head
  body
    .background.lazy(data-src='img/backgrounds/background.jpg')
    .wrapper
      .page
        include ../blocks/header
        .page__container.container
          aside.aside
            include ../blocks/lcv-nav
          main.main
            section.section
              .section__head
                .decorated
                  span.decoration
                  h5.section__head-title Добавление барберов
                  span.decoration
              .container
                form(action="").form
                  .form__section.row
                    .form__item.col-xl-3.col-6
                      span.item-label Фото:
                      .image-load-area
                        a(href="#").button.button_type-img-load Загрузить<br> изображение
                        a(href="#").button.button_type-close
                          i.fas.fa-times
                    .form__group.col-xl-9.col-12
                      .row
                        .form__item.col-xl-6.col-12
                          span.item-label Фамилия/Имя/Отчество/Ник
                          input(type="text" placeholder="Фамилия/Имя/Отчество/Ник").input.input_style4
                        .form__item.col-xl-6.col-12
                          span.item-label e-mail:
                          input(type="email" placeholder="e-mail:").input.input_style4
                        .form__item.col-xl-6.col-12
                          span.item-label Район проживания:
                          input(type="text" placeholder="Район проживания:").input.input_style4
                        .form__item.col-xl-6.col-12
                          span.item-label Номер телефона:
                          input(type="text" placeholder="+7(***)***-**-**").input.input_style4
                    .form__item.col-xl-6.col-12
                      span.item-label Дата рождения:
                      .row
                        .form__input.col-xl-4
                          .select
                            select
                              option(value="" data-display="День") День
                              option(value="") 1
                              option(value="") 2
                              option(value="") 3
                        .form__input.col-xl-4
                          .select
                            select
                              option(value="" data-display="Месяц") Месяц
                              option(value="") Февраль
                              option(value="") Март
                              option(value="") Май
                        .form__input.col-xl-4
                          .select
                            select
                              option(value="" data-display="Год") Год
                              option(value="") 1990
                              option(value="") 1991
                    .form__item.col-xl-6.col-12
                      span.item-label Пол:
                      .row
                        .col-xl-auto
                          label.checkbox.col
                            input(type="radio" name="val1")
                            i.fas.fa-check
                            span Мужчина
                        .col-xl-auto
                          label.checkbox.col
                            input(type="radio" name="val1")
                            i.fas.fa-check
                            span Женщина
                    .form__item.col-xl-6.col-12 
                      span.item-label Знание языка:
                      .row
                        .col-xl-auto
                          label.checkbox.col
                            input(type="checkbox")
                            i.fas.fa-check
                            span Русский
                        .col-xl-auto
                          label.checkbox.col
                            input(type="checkbox")
                            i.fas.fa-check
                            span Английский
                  .form__section.row
                    .form__item.col-xl-4.col-sm-6.col-12
                      button.button.button_style1 Добавить барбера
            section.section
              .section__head
                .decorated
                  span.decoration
                  h5.section__head-title Мои барберы
                  span.decoration
              .container
                .my-brbr-block
                  span.my-brbr-block__label auto
                  .my-brbr-block__content.row
                    .my-brbr-block__image.col-xl-3.col-sm-4.col-12
                      .cover-box
                        img(data-src="img/gallery/barber1.jpg", alt="").lazy
                    .my-brbr-block__content.col-xl-9.col-sm-8.col-12
                      .row
                        .my-brbr-block__info.col-xl-12
                          .row
                            .col-xl.col-sm-12
                              .row
                                .my-brbr-block__lvl.col-xl-auto
                                  img(src="img/icons/ico-topbarber.png", alt="")
                                .col-xl
                                  span.my-brbr-block__title Макс, 32 года
                                  span.my-brbr-block__adress ул. 26 Бакинских коммисаров, 23, 107
                            .col-xl-auto.col-sm-12
                              span.item-label Знание языка:
                              .row
                                .col-xl-auto
                                  label.checkbox.view-only
                                    i.fas.fa-check
                                    span Русский
                                .col-xl-auto
                                  label.checkbox.view-only
                                    i.fas.fa-check
                                    span Английский
                            .col-xl-12
                              span.item-label Ссылка на онлайн запись:
                              input(type="text" value="www.mybarbershop.ruwatch?v=DVNiB8dSjA4").input.input_style4
                        .my-brbr-block__buttons.col-xl-12
                          .row
                            .col-xl-4.col-sm-6
                              button.button.button_style7.small
                                i.far.fa-eye-slash
                                | Скрыть
                            .col-xl-4.col-sm-6
                              button.button.button_style9.small
                                i.far.fa-trash-alt
                                | Удалить
                            .col-xl-4.col-sm-12
                              button.button.button_style1.small
                                | Сохранить
                .my-brbr-block.hidden
                  .my-brbr-block__container.row
                    .my-brbr-block__image.col-xl-3.col-sm-4.col-12
                      .cover-box
                        img(data-src="img/gallery/barber2.jpg", alt="").lazy
                    .my-brbr-block__content.col-xl-9.col-sm-8.col-12
                      .row
                        .my-brbr-block__info.col-xl-12
                          .row
                            .col-xl.col-sm-12
                              .row
                                .my-brbr-block__lvl.col-xl-auto
                                  img(src="img/icons/ico-barber.png", alt="")
                                .col-xl
                                  span.my-brbr-block__title Руслан, 100 лет
                                  span.my-brbr-block__adress ул. 26 Бакинских коммисаров, 23, 107
                            .col-xl-auto.col-sm-12
                              span.item-label Знание языка:
                              .row
                                .col-xl-auto
                                  label.checkbox.view-only
                                    i.fas.fa-check
                                    span Английский
                            .col-xl-12
                              span.item-label Ссылка на онлайн запись:
                              input(type="text" value="www.mybarbershop.ruwatch?v=DVNiB8dSjA4").input.input_style4
                        .my-brbr-block__buttons.col-xl-12
                          .row
                            .col-xl-4.col-sm-6
                              button.button.button_style7.small
                                i.far.fa-eye
                                | Показать
                            .col-xl-4.col-sm-6
                              button.button.button_style9.small
                                i.far.fa-trash-alt
                                | Удалить
                            .col-xl-4.col-sm-12
                              button.button.button_style1.small
                                | Сохранить
                .my-brbr-block
                  span.my-brbr-block__label auto
                  .my-brbr-block__content.row
                    .my-brbr-block__image.col-xl-3.col-sm-4.col-12
                      .cover-box
                        img(data-src="img/gallery/barber1.jpg", alt="").lazy
                    .my-brbr-block__content.col-xl-9.col-sm-8.col-12
                      .row
                        .my-brbr-block__info.col-xl-12
                          .row
                            .col-xl.col-sm-12
                              .row
                                .my-brbr-block__lvl.col-xl-auto
                                  img(src="img/icons/ico-beginner.png", alt="")
                                .col-xl
                                  span.my-brbr-block__title Макс, 32 года
                                  span.my-brbr-block__adress ул. 263333 Бакинских каких-то коммисаров, 233, 3107
                            .col-xl-auto.col-sm-12
                              span.item-label Знание языка:
                              .row
                                .col-xl-auto
                                  label.checkbox.view-only
                                    i.fas.fa-check
                                    span Русский
                                .col-xl-auto
                                  label.checkbox.view-only
                                    i.fas.fa-check
                                    span Русский
                            .col-xl-12
                              span.item-label Ссылка на онлайн запись:
                              input(type="text" value="www.mybarbershop.ruwatch?v=DVNiB8dSjA4").input.input_style4
                        .my-brbr-block__buttons.col-xl-12
                          .row
                            .col-xl-4.col-sm-6
                              button.button.button_style7.small
                                i.far.fa-eye-slash
                                | Скрыть
                            .col-xl-4.col-sm-6
                              button.button.button_style9.small
                                i.far.fa-trash-alt
                                | Удалить
                            .col-xl-4.col-sm-12
                              button.button.button_style1.small
                                | Сохранить
        //footer
        include ../blocks/footer
        //other
        include ../blocks/popup
        include ../blocks/fixed
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")