mixin usluga()
  .form__section.row
    .form__group.col-xl-12
      .row
        .form__item.col-xl-4.col-sm-8.col-12
          span.item-label Наименование услуги:
          input(type="text").input.input_style4
        .form__item.col-xl-2.col-sm-4.col-6
          span.item-label Стоимость услуги:
          input(type="text").input.input_style4
        .form__item.col-xl-2.col-sm-4.col-6
          span.item-label ТОП Барбер:
          .form__input
            svg.icon
              use(xlink:href="img/icons/barbers-sprite.svg#topbarber")
            input(type="text").input.input_style4
        .form__item.col-xl-2.col-sm-4.col-6
          span.item-label Барбер:
          .form__input
            svg.icon
              use(xlink:href="img/icons/barbers-sprite.svg#barber")
            input(type="text").input.input_style4
        .form__item.col-xl-2.col-sm-4.col-6
          span.item-label Стажер:
          .form__input
            svg.icon
              use(xlink:href="img/icons/barbers-sprite.svg#beginner")
            input(type="text").input.input_style4
    .form__group.col-xl-12
      .row
        .form__item.col-xl-9.col-sm-12.toggle-group
          .row
            .col-xl-auto
              a(href="#").button.button_style8.toggle-button Описание услуги:
                i.fas.fa-angle-double-right
            .col-xl.col-12.toggle-content
              textarea.input.input_style4.input_size2
        .form__item.col-xl-3.col-sm-4.col-12
          button.button.button_style9.small Удалить услугу



doctype html
html(lang="ru")
  head
    include ../blocks/head
  body
    .background.lazy(data-src='img/backgrounds/background.jpg')
    .wrapper
      .page
        include ../blocks/header
        .page__container.container
          aside.aside
            include ../blocks/lcv-nav
          main.main
            section.section
              .section__head
                .decorated
                  span.decoration
                  h5.section__head-title Информация
                  span.decoration
              .container
                form(action="").form
                  .form__section.row
                    .form__group.col-xl-3.col-6
                      .form__item
                        span.item-label Логотип:
                        .image-load-area
                          a(href="#").button.button_type-img-load Загрузить<br> изображение
                          a(href="#").button.button_type-close
                            i.fas.fa-times
                    .form__group.col-xl-9.col-12
                      .row
                        .form__item.col-xl-6.col-12
                          span.item-label Название:
                          input(type="text").input.input_style4
                        .form__item.col-xl-6.col-12
                          span.item-label Сайт:
                          input(type="text").input.input_style4
                        .form__item.col-xl-6.col-12
                          span.item-label Email:
                          input(type="email").input.input_style4
                        .form__item.col-xl-6.col-12
                          span.item-label Ссылка на онлйн запись:
                          input(type="text").input.input_style4
                    .form__group.col-xl-6.col-sm-5.col-12
                      .form__item
                        span.item-label Телефоны:
                        .row
                          .col-xl-6.col-sm-12.col-6
                            input(type="text" placeholder="+7(***)***-**-**").input.input_style4
                          .col-xl-6.col-sm-12.col-6
                            input(type="text" placeholder="+7(***)***-**-**").input.input_style4
                    .form__group.col-xl-5.col-lg-6.col-sm-7.col-12
                      .row
                        .form__item.col-xl-12
                          span.item-label Время работы:
                          .row.row_compact
                            .form__input.col-xl
                              span c
                              input(type="text").input.input_style4
                              span до
                              input(type="text").input.input_style4
                            .form__input.col-xl-auto
                              label.checkbox
                                input(type="checkbox")
                                i.fas.fa-check
                                span круглосуточно
                    .form__group.col-xl-12
                      .row
                        .form__group.col-xl-3
                          .row  
                            .form__item.col-xl-12
                              span.item-label ВКонтакте:
                              input(type="text").input.input_style4
                            .form__item.col-xl-12
                              span.item-label Facebook:
                              input(type="text").input.input_style4
                            .form__item.col-xl-12
                              span.item-label Instagram:
                              input(type="text").input.input_style4
                            .form__item.col-xl-12
                              span.item-label Одноклассники:
                              input(type="text").input.input_style4
                            .form__item.col-xl-12
                              span.item-label Twitter:
                              input(type="text").input.input_style4
                        .form__group.col-xl-9
                          .row
                            .form__item.col-xl-12
                              span.item-label Адрес*:
                              input(type="text").input.input_style4
                            .form__item.col-xl-12
                              span.item-label Местоположение барбершопа: переместите маркер на карте в нужное место:
                              .map
                                .map__container
                                  div(id='map')
                  .form__section.row
                    .form__group.col-xl-4.col-sm-6.col-12
                      button.button.button_style1 Сохранить
            section.section
              .section__head
                .decorated
                  span.decoration
                  h5.section__head-title О моем салоне
                  span.decoration
              .container
                form(action="").form
                  .form__section.row
                    .form__item.col-xl-12
                      span.item-label Описание, услуги, изюминка:
                      textarea.input.input_style4.input_size1
                    .form__item.col-xl-12
                      span.item-label Ссылка на видео:
                      span.c-main.t-a-center.mb-5.t-size-18 Допускается вставка видео с сервиса Youtube (видео с других ресурсов не будет размещено) Ссылка должна иметь вид https://www.youtube.com/embed/
                      input(type="text").input.input_style4
                  .form__section.row
                    .form__item.col-xl-4.col-sm-6.col-12
                      button.button.button_style1 Сохранить
            section.section
              .section__head
                .decorated
                  span.decoration
                  h5.section__head-title фото салона
                  span.decoration
              .container
                .form
                  .form__section.row
                    .form__item.col-xl-3.col-6
                      .image-load-area
                        a(href="#").button.button_type-img-load Загрузить<br> изображение
                        a(href="#").button.button_type-close
                          i.fas.fa-times
                    .form__item.col-xl-3.col-6
                      .image-load-area.loaded
                        a(href="#").button.button_type-img-load Загрузить<br> изображение
                        a(href="#").button.button_type-close
                          i.fas.fa-times
                    .form__item.col-xl-3.col-6
                      .image-load-area
                        a(href="#").button.button_type-img-load Загрузить<br> изображение
                        a(href="#").button.button_type-close
                          i.fas.fa-times
                    .form__item.col-xl-3.col-6
                      .image-load-area
                        a(href="#").button.button_type-img-add Добавить<br> изображение<br>
                          i.fas.fa-plus
                        a(href="#").button.button_type-close
                          i.fas.fa-times
            section.section
              .section__head
                .decorated
                  span.decoration
                  h5.section__head-title Услуги и цены
                  span.decoration
              .container
                form(action="").form
                  +usluga()
                  +usluga()
                  +usluga()
                  .form__section.row
                    .form__item.col-xl-4.col-sm-6.col-12
                      button.button.button_style7
                        i.fas.fa-plus
                        | Добавить услугу
                    .form__item.col-xl-4.col-sm-6.col-12
                      button.button.button_style1 Сохранить
            section.section
              .section__head
                .decorated
                  span.decoration
                  h5.section__head-title Мои мастера
                  span.decoration
              .container
                form(action="").form
                  .form__section.row
                    .form__item.col-xl-3.col-6
                      span.item-label Фото барбера:
                      .image-load-area.loaded
                        a(href="#").button.button_type-img-load Загрузить<br> изображение
                        a(href="#").button.button_type-close
                          i.fas.fa-times
                    .form__item.col-xl-9.col-6
                      span.item-label Описание:
                      textarea.input.input_style4.input_size2
                    .form__item.col-xl-3.col-sm-4.col-12
                      button.button.button_style9.small Удалить
                  .form__section.row
                    .form__item.col-xl-3.col-6
                      span.item-label Фото барбера:
                      .image-load-area
                        a(href="#").button.button_type-img-load Загрузить<br> изображение
                        a(href="#").button.button_type-close
                          i.fas.fa-times
                    .form__item.col-xl-9.col-6
                      span.item-label Описание:
                      textarea.input.input_style4.input_size2
                    .form__item.col-xl-3.col-sm-4.col-12
                      button.button.button_style9.small Удалить
                  .form__section.row
                    .form__item.col-xl-4.col-sm-6.col-12
                      button.button.button_style7
                        i.fas.fa-plus
                        | Добавить барбера
                    .form__item.col-xl-4.col-sm-6.col-12
                      button.button.button_style1 Сохранить
            include ../blocks/addCode
            section.section
              .section__head
                .decorated
                  span.decoration
                  h5.section__head-title Новости
                  span.decoration
              .container
                form(action="").form
                  .form__section
                    .socials.socials_style2
                      ul.socials__list.row
                        li.socials__item.col-xl-auto
                          a(href="#").socials__link
                            i.fab.fa-facebook-f
                        li.socials__item.col-xl-auto
                          a(href="#").socials__link
                            i.fab.fa-vk
                        li.socials__item.col-xl-auto
                          a(href="#").socials__link
                            i.fab.fa-instagram
                        li.socials__item.col-xl-auto
                          a(href="#").socials__link
                            i.fab.fa-odnoklassniki
                        li.socials__item.col-xl-auto
                          a(href="#").socials__link
                            i.fab.fa-youtube
                  .form__section.row
                    .form__group.col-xl-12
                      .row
                        .form__item.col-xl-12
                          span.item-label Заголовок:
                          input(type="text").input.input_style4
                        .form__item.col-xl-3.col-6
                          span.item-label Изображение:
                          .image-load-area
                            a(href="#").button.button_type-img-load Загрузить<br> изображение
                            a(href="#").button.button_type-close
                              i.fas.fa-times
                        .form__item.col-xl-9.col-6
                          span.item-label Текст:
                          textarea.input.input_style4.input_size2
                  .form__section.row
                    .form__item.col-xl-4.col-sm-6.col-12
                      button.button.button_style1 Добавить новость
        //footer
        include ../blocks/footer
        //other
        include ../blocks/popup
        include ../blocks/fixed
        .mb-message.mb-message_success Данные успешно сохранены!

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")