doctype html
html(lang="ru")
  head
    include ../blocks/head
  body
    .background.lazy(data-src='img/backgrounds/background.jpg')
    .wrapper
      .page
        include ../blocks/header
        .page__container.container
          aside.aside
            include ../blocks/lcv-nav
          main.main
            section.section
              .section__head
                .decorated
                  span.decoration
                  h1.section__head-title Катя
                  span.decoration
                h2.section__head-sub-title.t-size-24 твой незаменимый<br> робот-ассистент!
              .container
                p.c-main.t-a-center.t-size-18 Больше никаких СМС! Уже 2020 год, а ты все еще используешь технологию пейджеров из 90х годов. Эволюционируй! Хватит использовать пережитки!
                .banner.banner_size3.lazy(data-src='https://mybarbershop.ru/bitrix/templates/bbs_main/img/assistent_3.png')
                .mb-20
                  .row.row_center
                    .col-xl-8.col-12
                      .video
                       <iframe src="https://www.youtube.com/embed/sI8re1g0cwA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                p.mb-20.t-a-center Вы можете ознакомиться с нашими виртуальными  барберами, нашими услугами и их стоимостью. 
                .mb-20
                  .row.row_center
                    .col-xl-auto
                      p.t-size-18.f-w-n Онлайн запись:
                    .col-xl-auto
                      a(href="https://n265645.yclients.com/company:258676").button.small.button_style9 https://n265645.yclients.com/company:258676
                p.c-main.t-a-center.mb-20 Для демонстрации мы настроили виртуальный барбершоп.
                p.mb-20 После того, как вы записались, Катя сразу перезвонит и задаст несколько вопросов по оказанным услугам, сотрудникам и барбершопе. Всю полученную  информацию от вас, она сгенерирует в отзыв и опуыбликует его в отзывах у барбера, к которому вы записывались.
                .mb-20.t-a-center
                  p.f-w-n.t-a-center.t-size-18 Вот как работает Катя:
                  audio(controls).m-a
                    source(src="#")
                .mb-20.t-a-center.f-w-n.t-size-18 Хочешь испытать работу демо версии Кати - позвони ей сам.<br> 
                  a(href="+74950232424").link.c-main +7 495 023 24 24
                p.mb-20 Наш робот ассистент может заменить полностью администратора и стать полноценным ассистентом-партнером в вашем барбершопе. Ассистент – это робот, которого мы усовершенствуем каждый день, а еще вы можете собрать его или ее самостоятельно. Все что вам нужно – выбрать далее по списку, каким вы видите вашего ассистента!
                section.section.home
            section.section
              .section__head
                .decorated
                  span.decoration
                  h5.section__head-title.t-size-24 контактные данные
                  span.decoration
              .container
                form(action="").form.mb-50
                  .form__section
                    .row
                      .form__item.col-xl-6.col-12
                        input(type="text" placeholder="Имя").input.input_style4
                      .form__item.col-xl-6.col-12
                        input(type="text" placeholder="Телефон").input.input_style4
                      .form__item.col-xl-6.col-12
                        input(type="text" placeholder="Город").input.input_style4
                      .form__item.col-xl-6.col-12
                        input(type="email" placeholder="e-mail").input.input_style4
                      .form__item.col-xl-6.col-12
                        input(type="text" placeholder="Адрес барбершопа").input.input_style4
                      .form__item.col-xl-6.col-12
                        input(type="text" placeholder="Название барбершопа").input.input_style4
                  .form__section
                    .kate-check-block
                      span.line
                      label.checkbox.checkbox-styled
                        input(type="checkbox" data-price='1000' hidden)
                        svg.icon
                          use(xlink:href="img/icons/kate-sprite.svg#ico6")
                        span.check
                        h6.checkbox-styled__title Презентация вашего барбершопа.
                        p Рассказать почему ваш барбершоп и чем он отличается от других, где расположен, как добраться и есть ли рядом парковка.
                        span.checkbox-styled__price 1000р.
                      span.line
                    .kate-check-block
                      span.line
                      label.checkbox.checkbox-styled.styled
                        input(type="checkbox" data-price='2500' hidden)
                        svg.icon.styled
                          use(xlink:href="img/icons/kate-sprite.svg#ico3")
                        span.check
                        h6.checkbox-styled__title Работа с входящими звонками.
                        p Робот отвечает самостоятельно на входящий звонок, записывает клиента на услуги в программу онлайн записи. 
                        span.checkbox-styled__price 2500 р.
                      span.line
                    .kate-check-block
                      span.line
                      label.checkbox.checkbox-styled
                        input(type="checkbox" data-price='4500' hidden)
                        svg.icon
                          use(xlink:href="img/icons/kate-sprite.svg#ico2")
                        span.check
                        h6.checkbox-styled__title Работа с входящими звонками +
                        p Робот отвечает самостоятельно на входящий звонок, записывает клиента на услуги в программу онлайн записи. Робот может рассказать описание любой услуги, тайминг и каждый раз, каждому клиенту будет рекомендовать какую-нибудь дополнительную услугу (например: черная маска, патчи, камуфляж седины, коррекция воском).
                        span.checkbox-styled__price 4500 р.
                      span.line
                    .kate-check-block
                      span.line
                      label.checkbox.checkbox-styled
                        input(type="checkbox" data-price='1200' hidden)
                        svg.icon
                          use(xlink:href="img/icons/kate-sprite.svg#ico1")
                        span.check
                        h6.checkbox-styled__title Контроль качаства выполненных работ.
                        p Робот позвонит клиенту и узнает его мнение о посещении вашего барбершоп и оказанном ему сервисе. Узнает впечатление о барбершопе, администраторе и естественно о барбере и его работе и все это опубликует в виде отзыва.
                        span.checkbox-styled__price 1200 р.
                      span.line
                    .kate-check-block
                      span.line
                      label.checkbox.checkbox-styled
                        input(type="checkbox" data-price='2500' hidden)
                        svg.icon
                          use(xlink:href="img/icons/kate-sprite.svg#ico7")
                        span.check
                        h6.checkbox-styled__title Холодный звонок.
                        p На каждую оказанную услугу вы назначаете временной промежуток, через который робот позвонит и предложит записаться (для примера: клиент брил бороду и через 5-12 дней робот позвонит и предложит записаться на коррекцию).
                        span.checkbox-styled__price 2500 р.
                      span.line
                    .kate-check-block
                      span.line
                      label.checkbox.checkbox-styled
                        input(type="checkbox" data-price='5000' hidden)
                        svg.icon
                          use(xlink:href="img/icons/kate-sprite.svg#ico8")
                        span.check
                        h6.checkbox-styled__title Холодный звонок +
                        p На каждую оказанную услугу вы назначаете временной промежуток, через который робот позвонит и предложит записаться (для примера: клиент брил бороду и через 5-12 дней робот позвонит и предложит записаться на коррекцию). Робот будет всячески убеждать записаться, предлагать бонусы и скидки, говорить много комплиментов.
                        span.checkbox-styled__price 5000 р.
                      span.line
                    .kate-check-block
                      span.line
                      label.checkbox.checkbox-styled
                        input(type="checkbox" data-price='300' hidden)
                        svg.icon
                          use(xlink:href="img/icons/kate-sprite.svg#ico4")
                        span.check
                        h6.checkbox-styled__title Информатор.
                        p Позвонит вашему клиенту, подтвердит его запись, оставленную не через ассистента.
                        span.checkbox-styled__price 300 р.
                      span.line
                    .kate-check-block
                      span.line
                      label.checkbox.checkbox-styled
                        input(type="checkbox" data-price='1500' hidden)
                        svg.icon
                          use(xlink:href="img/icons/kate-sprite.svg#ico5")
                        span.check
                        h6.checkbox-styled__title Информатор +
                        p Позвонит вашему клиенту, подтвердит его запись, оставленную не через ассистента, предложит доп. услуги и всячески будет склонять клиента заказать их.
                        span.checkbox-styled__price 1500 р.
                      span.line
                    //last
                    .kate-check-block
                      span.line
                      label.checkbox.checkbox-styled
                        input(type="checkbox" data-price='0' hidden)
                        svg.icon
                          use(xlink:href="img/icons/kate-sprite.svg#ico9")
                        span.check
                        h6.checkbox-styled__title Аналитические отчеты.
                        p Катя умеет группировать, выделять, создавать, рекомендовать, подчеркивать... говоря проще любой отчет, который нужен именно вам - она сделает и отправит его на почту или в мессенджер.
                        span.checkbox-styled__price Стоимость определить невозможно, индивидуальный подход.
                      span.line
                  .form__section
                    //общая стоимость
                    input(type="text" hidden).total-price
                    //
                    .row.row_jc-sb
                      .form__total-price.t-size-20.f-w-n.c-main.col-xl-auto Итого: ............. 
                        span 0 р.
                      .form__item.col-xl-3.col-sm-6.col-12
                        button.button.button_style1 Оставить заявку
                p.t-a-center.t-size-18 Ознакомиться с работой Кати можно по телефону - 
                  a.link.c-main(href="tel:84950232424") 
                    strong 8 495 023 24 24
        //footer
        include ../blocks/footer
        //other
        include ../blocks/popup
        include ../blocks/fixed
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")