doctype html
html(lang="ru")
  head
    include ../blocks/head
  body
    .background.lazy(data-src='img/backgrounds/background.jpg')
    .wrapper
      .page
        include ../blocks/header
        .page__container.container
          aside.aside
            include ../blocks/lcv-nav
          main.main
        //footer
        include ../blocks/footer
        //other
        include ../blocks/popup
        include ../blocks/fixed
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")