.banner {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
  &_type1 {
    .banner-slide {
      height: 100vh;
    }
  }
  &_type2 {
    margin: 40px 0;
    .cover-box {
      &:before {
        content: '';
        display: block;
        padding-top: 54%;
      }
    }
  }
  &_type3 {
    margin-bottom: 40px;
    &:before {
      content: '';
      display: block;
      padding-top: 28%;
    }
  }
  &_size1 {
    &:before {
      content: '';
      display: block;
      padding-top: 40%;
    }
  }
  &_size2 {
    &:before {
      content: '';
      display: block;
      padding-top: 34%;
    }
  }
  &_size3 {
    &:before {
      content: '';
      display: block;
      padding-top: 50%;
    }
  }
  /* <svg 
 xmlns="http://www.w3.org/2000/svg"
 xmlns:xlink="http://www.w3.org/1999/xlink"
 width="248px" height="20px">
<text kerning="auto" font-family="Myriad Pro" fill="rgb(0, 0, 0)" transform="matrix( 1.08718701019764, 0, 0, 1.08718701019764,-13.0181788952086, 18.1539025764823)" font-size="22.075px"><tspan font-size="22.075px" font-family="BERNIERShade" fill="#FFFFFF">MYBARBERSHOP&#32;&#1084;&#1086;&#1077;&#32;&#1084;&#1077;&#1089;&#1090;&#1086;</tspan></text>
</svg>
  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
  } */
  .slick-list {
    overflow: visible;
    padding: 0 !important;
  }
  .slick-slider {
    margin: 0 auto;
    max-width: 2560px;
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: rgba(0, 0, 0, 0.8);
      left: 0;
      z-index: 3;
    }
    &:before {
      left: -100%;
    }
    &:after {
      left: 100%;
    }
  }
  &_bg {
    background: #111111;
  }
}
.banner-slide {
  position: relative;
  &__background {
    z-index: 1;
    background-size: cover;
    &[data-filter] {
      filter: blur(5px);
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: rgba(0,0,0,.8);
      }
    }
  }
  &__container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding-bottom: 60px;
  }
  &__title {
    font-family: 'Roboto Condensed';
    margin: 0;
    color: $orange-color1;
    text-transform: uppercase;
    font-size: 82px;
    font-weight: 700;
  }
  &__sub-title {
    font-size: 36px;
    margin: 0;
    font-weight: 300;
  }
}

@media all and(max-width: 1300px) {
  
}
@media all and(max-width: 1200px) {
  .banner-slide {
    &__title {
      font-size: 60px;
    }
    &__sub-title {
      font-size: 28px;
    }
  }
  .banner {
    &_type2 {
      .container {
        padding: 0;
      }
    }
  }
}
@media all and(max-width: 1024px) {
  .banner {
    &_type1 {
      .banner-slide {
        height: 500px;
      }
    }
    &_type2 {
      .banner-slide {
        //height: 260px;
      }
    }
  }
}
@media all and(max-width: 768px) {
  .banner-slide {
    &__title {
      font-size: 46px;
    }
    &__sub-title {
      font-size: 24px;
    }
  }
  .banner {
    &_type4 {
      &:before {
        padding-top: 56.25%;
      }
    }
    &_type2 {
      margin: 30px 0;
    }
  }
}
@media all and(max-width: 576px) {
  .banner {
    &_type1 {
      .banner-slide {
        height: 350px;
      }
    }
    &_type2 {
      .banner-slide {
        //height: 170px;
      }
    }
    &_type3 {
      &:before {
        padding-top: 56.25%;
      }
    }
  }
  .banner-slide {
    &__title {
      font-size: 32px;
    }
    &__sub-title {
      font-size: 20px;
    }
  }
  .banner-slide {
    &__container {
      padding-bottom: 40px;
    }
  }
}
@media all and(max-width: 400px) {
  
}