.banner {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
  &_type1 {
    .banner-slide {
      &:before {
        content: '';
        display: block;
        padding-top: 56.25%;
      }
      &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
  }
  &_type2 {
    margin: 40px 0;
    .cover-box {
      &:before {
        content: '';
        display: block;
        padding-top: 53.8%;
      }
    }
  }
  &_type3 {
    margin-bottom: 40px;
    &:before {
      content: '';
      display: block;
      padding-top: 28%;
    }
  }
  &_size1 {
    &:before {
      content: '';
      display: block;
      padding-top: 40%;
    }
  }
  &_size2 {
    &:before {
      content: '';
      display: block;
      padding-top: 34%;
    }
  }
  &_size3 {
    &:before {
      content: '';
      display: block;
      padding-top: 50%;
    }
  }
  .slick-list {
    padding: 0 !important;
  }
  .slick-slider {
    margin: 0 auto;
  }
  &_bg {
    background: #111111;
  }
}
.banner-slide {
  position: relative;
  &__background {
    z-index: 1;
    background-size: cover;
    &[data-filter] {
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: rgba(0,0,0,.7);
      }
    }
  }
  &__container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding-bottom: 60px;
  }
  &__title {
    font-family: 'Roboto Condensed';
    margin: 0;
    color: $orange-color1;
    text-transform: uppercase;
    font-size: 72px;
    font-weight: 700;
  }
  &__sub-title {
    font-size: 32px;
    margin: 0;
    font-weight: 300;
  }
}


@media all and(max-width: 1200px) {
  .banner-slide {
    &__title {
      font-size: 60px;
    }
    &__sub-title {
      font-size: 28px;
    }
  }
  .banner {
    &__container {
      padding: 0;
    }
  }
}
@media all and(max-width: 1024px) {
  .banner {
    &_type1 {
      .banner-slide {
        height: 500px;
      }
    }
  }
}
@media all and(max-width: 768px) {
  .banner-slide {
    &__title {
      font-size: 46px;
    }
    &__sub-title {
      font-size: 24px;
    }
  }
  .banner {
    &_type4 {
      &:before {
        padding-top: 56.25%;
      }
    }
    &_type2 {
      margin: 30px 0;
    }
  }
}
@media all and(max-width: 576px) {
  .banner {
    &_type1 {
      .banner-slide {
        height: 350px;
      }
    }
    &_type3 {
      &:before {
        padding-top: 56.25%;
      }
    }
  }
  .banner-slide {
    &__title {
      font-size: 32px;
    }
    &__sub-title {
      font-size: 20px;
    }
  }
  .banner-slide {
    &__container {
      padding-bottom: 40px;
    }
  }
}