.barber-info {
  &__image {
    border: 1px solid $orange-color1;
    .cover-box {
      &:before {
        content: '';
        display: block;
        padding-top: 100%;
      }
    }
  }
  &__title {
    color: $orange-color1;
    font-weight: 700;
  }
  &__experience {
    display: flex;
    &-item {
      font-size: 14px;
      line-height: 1;
      display: block;
      span {
        display: block;
      }
      &:first-child {
        text-align: right;
        padding-right: 25px;
        position: relative;
        &:after {
          content: '/';
          font-size: 38px;
          line-height: 1;
          position: absolute;
          right: 5px;
          top: 0;
        }
      }
    }
  }
  &__barbershop-image {
    display: block;
    width: 100%;
  }
  &__barbershop-title {
    display: block;
  }
}