.barbers {
  position: relative;
  background-color: #181818;
  &__container {
    padding-bottom: 40px;
  }
}
.barbers-slide {
  padding: 0 7px;
  &__container {
    &:hover {
      .barbers-slide__photo {
        filter: grayscale(0);
      }
    }
  }
  &__photo {
    position: relative;
    border: 1px solid #a0a2a7;
    transition: 0.3s;
    filter: grayscale(100%);
    transition: 0.3s;
    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }
  &__name {
    font-size: 24px;
    color: #a0a2a7;
    display: block;
    text-align: center;
  }
  &__info {
    padding: 10px 15px;
    border: 1px solid $orange-color1;
    border-radius: 4px;
    margin-top: 10px;
  }
  &__rating-list {
    margin: 0;
    padding: 10px 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  &__rating-item {
    &:not(:last-child) {
      padding-right: 10px;
    }
    i {
      color: $orange-color1;
    }
  }
}

@media all and(max-width: 576px) {
  .barbers__container {
    padding-bottom: 30px;
  }
}