.barbershop-info {
  padding: 25px 0 0 0;
  &__main-info {
    margin: 0 -30px;
  }
  &__item {
    margin-bottom: 25px;
  }
  &__blocks {
    display: flex;
    align-items: center;
  }
  &__video {
    position: relative;
    border: 4px solid #fff;
    background-color: rgba(0, 0, 0, 0.7);
    &:before {
      content: '';
      display: block;
      padding-top: 56%;
    }
    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -25px -15px;
  }
  &__col {
    flex: 1 1 33.33%;
    padding: 0 15px 25px 15px;
  }
}

.barbershop-info-block {
  width: 33.33%;
  padding: 0 30px;
  position: relative;
  &:not(:last-child) {
    &:after {
      content: '';
      display: block;
      position: absolute;
      border-radius: 100%;
      width: 7px;
      height: 7px;
      background-color: $orange-color1;
      right: 0;
      top: 50%;
      transform: translate(50%, -50%);
    }
  }
  &__container {
    border: 1px solid $orange-color1;
    border-radius: 5px;
    background-color: #151314;
    padding: 15px;
  }
  &__content {
    background: url('../../img/backgrounds/brand-background.png') no-repeat center center;
    background-size: contain;
    padding: 10px;
  }
  span {
    display: block;
    text-align: center;
    &:first-child {
      font-size: 30px;
      font-weight: 700;
      line-height: 1;
    }
    &:last-child {
      color: #7e8084;
      font-size: 14px;
    }
  }
}