.filter {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  &__section {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &:first-child {
      align-items: center;
    }
    &:nth-child(3) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  &__resault {
    font-weight: 700;
    color: $gray-color2;
    font-size: 18px;
    text-align: right;
  }
  &__map-more {
    justify-content: flex-end;
  }
  &__group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &:not(:last-child) {
      margin-right: 20px;
    }
    &-title {
      flex: 0 0 auto;
      margin: 0 10px 10px 0;
      white-space: nowrap;
      color: $gray-color2;
    }
    &-labels {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      margin: -5px -5px 5px -5px;
    }
    .checkbox {
      margin: 5px;
      padding: 5px;
      user-select: none;
      transition: 0.2s;
      border-radius: 4px;
      display: flex;
      align-items: center;
      position: relative;
      font-size: 16px;
      background-color: rgba(136, 138, 144, 0.15);
      color: $gray-color2;
      &.checked {
        background-color: rgba(136, 138, 144, 0.7);
        color: #fff;
      }
      .icon {
        display: block;
        width: auto;
        height: 20px;
        margin: 0 3px 0 3px;
        &.smaller {
          padding: 2px 0;
        }
      }
      span {
        line-height: 20px;
        display: inline-block;
        margin: 0 3px;
      }
    }
  }
}

@media all and(max-width: 1024px) {
  .filter {
    &__resault {
      text-align: left;
    }
  }
}
@media all and(max-width: 768px) {
  .filter {
    &__resault {
      text-align: left;
    }
    &__section {
      &:nth-child(3) {
        flex-wrap: wrap;
      }
    }
    &__map-more {
      justify-content: flex-start;
    }
    &__group {
      width: 100%;
      &:not(:last-child) {
        margin: 0 0 10px 0;
      }
    }
  }
}