.footer {
  background-color: #7e8084;
  font-size: 14px;
  overflow: hidden;
  flex-shrink: 0;
  &__container {
    padding: 50px 0 40px 0;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 20px;
      top: -50px;
      width: 370px;
      height: 370px;
      background: url('../img/logos/logo.svg') no-repeat;
      background-size: 100% 100%;
      opacity: 0.1;
      transform: rotate(10deg);
    }
  }
  &__section {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    &_top {
      margin: -10px -10px -30px -10px;
    }
    &_bottom {
      align-items: center;
      padding-top: 20px;
    }
  }
  &__message {
    padding: 10px 0;
    margin-right: 85px;
    color: #b6b8bc;
  }
  .socials {
    padding: 10px 0;
    &__link {
      background-color: #73767c;
      &:hover {
        background-color: #595e69;
      }
    }
  }
}

.footer-nav {
  padding: 10px 10px 30px 10px;
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    &:not(:last-child) {
      padding-bottom: 10px;
    }
  }
  &__link {
    display: inline-block;
    position: relative;
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }
}

@media all and(max-width: 768px) {
  .footer__section {
    justify-content: center;
  }
  .footer-nav__item {
    text-align: center;
  }
  .footer-nav {
    flex: 1 1 50%;
  }
  .footer__message {
    width: 100%;
    margin: 0;
    text-align: center;
    display: block;
  }
}