.sitemap {
  margin: 0;
  padding: 0;
  list-style: none;
  &__link {
    text-decoration: none;
    padding: 13px 20px;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 1px solid rgb(107, 107, 107);
    transition: 0.3s;
    &.in-dev {
      &:after {
        color: $main-color;
        text-transform: lowercase;
        content: ' ( в разработке )';
      }
    }
    &.in-expectation {
      color: rgb(173, 173, 173);
      &:after {
        color: rgb(173, 173, 173);
        text-transform: lowercase;
        content: ' ( в очереди )';
      }
    }
    &:hover {
      background: rgb(107, 107, 107);
    }
  }
}
.tooltipster-base {
  z-index: 9000 !important;
}
.preference {
  padding-bottom: 40px;
}
.socials {
  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__item {
    &:not(:last-child) {
      padding-right: 10px;
    }
  }
  i {
    position: absolute;
    font-size: 23px;
    display: block;
    transition: 0.15s;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    background-color: #595e69;
    border-radius: 100%;
    position: relative;
    transition: 0.15s;
    color: #7e8084;
  }
  &_style2 {
    i {
      color: #0d0e10;
    }
    .socials {
      &__item {
        &:not(:last-child) {
          padding-right: 5px;
        }
      }
      &__link {
        background-color: $main-color;
        &:hover {
          background-color: transparent;
          i {
            color: $main-color;
          }
        }
      }
    }
  }
}
.decorated {
  position: relative;
}
.decoration {
  border-top: 1px dashed $main-color;
  width: 50vw;
  position: absolute;
  z-index: 2;
  top: 50%;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -4px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: $main-color;
  }
  &:first-child {
    left: 0;
    transform: translateX(-100%);
    &:before {
      right: 0;
    }
  }
  &:last-child {
    right: 0;
    transform: translateX(100%);
    &:before {
      left: 0;
    }
  }
}
.block-head {
  position: relative;
  font-size: 36px;
  text-transform: uppercase;
  padding: 27px 0;
  display: flex;
  justify-content: center;
  &_background {
    background-color: #181818;
    border-top: 3px solid #7e8084;
    border-bottom: 3px solid #7e8084;
  }
  &__title {
    position: relative;
    z-index: 2;
    font-weight: 700;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    margin: 0 0.6em;
    br {
      display: none;
    }
    &:before,
    &:after {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      line-height: 1;
      flex-shrink: 0;
    }
    &_icons {
      padding: 0;
      &:before,
      &:after {
        content: '\f164';
        border-radius: 100%;
        background-color: $main-color;
        font-size: 0.5em;
        width: 1.55em;
        height: 1.55em;
        padding-top: 0.2em;
        box-sizing: border-box;
        text-align: center;
        color: #181818;
        transform: translateY(0.1em);
      }
      &:before {
        margin: 0 1em 0 0;
      }
      &:after {
        margin: 0 0 0 1em;
      }
    }
    &_stars {
      padding: 0;
      &:before,
      &:after {
        content: '\f005';
        font-size: 0.8em;
        box-sizing: border-box;
        text-align: center;
        color: $main-color;
      }
      &:before {
        margin: 0 0.6em 0 0;
      }
      &:after {
        margin: 0 0 0 0.6em;
      }
    }
  }
}
.number-block {
  background-color: $main-color;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  padding: 5px 10px;
  text-align: center;
  position: relative;
  &__title {
    display: block;
    color: #0f1012;
    line-height: 1;
  }
  &__show-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    outline: none;
    top: 0;
    left: 0;
    padding: 0;
    border: 0;
    background: transparent;
  }
  &__number {
    text-decoration: none;
    color: #0f1012;
    line-height: 1;
  }
}
.video-block {
  position: relative;
  &:before {
    content: '';
    display: block;
    padding-top: 56.25%;
    position: relative;
    z-index: 1;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    &:before {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.6);
      transition: 0.3s;
    }
    &:after {
      content: '\f04b';
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      position: absolute;
      z-index: 3;
      color: #fff;
      font-size: 90px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    img {
      display: block;
      min-width: 102%;
      min-height: 102%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      border: 0;
    }
    &:hover {
      &:before {
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }
}
.share {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  &-trigger {
    font-size: 24px;
    font-weight: 700;
    padding: 4px 8px;
    margin: 0 8px;
    display: block;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s;
    &:hover {
      color: #000;
      background: $main-color;
    }
  }
}
.cover-box {
  overflow: hidden;
  display: block;
  img {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.wh {
  height:100%!important;
}
.ww {
  width:100%!important;
}
.decotarive-line {
  position: relative;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  height: 28px;
  &:after {
    position: absolute;
    left: 50%;
    top: 0;
    padding-top: 1px;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background-color: $main-color;
    display: block;
    font-size: 18px;
    box-sizing: border-box;
    text-align: center;
    color: #181818;
    content: '\f164';
    transform: translateX(-50%);
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    border-top: 1px dashed $main-color;
    width: 100%;
    top: 50%;
    left: 0;
  }
}
.label {
  cursor: pointer;
  display: block;
}
.decotarive-line2 {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    display: block;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: $main-color;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    margin: 0 15px;
    &:before {
      margin-top: -0.15em;
    }
  }
  span {
    display: block;
    flex: 1 1 100%;
    border-top: 1px dashed $main-color;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 7px;
      height: 7px;
      background-color: $main-color;
      top: -4px;
      border-radius: 100%;
    }
    &:first-child {
      &:before {
        right: 0;
      }
    }
    &:last-child {
      &:before {
        left: 0;
      }
    }
  }
}


//responsive
@media all and(max-width: 768px) {
  .block-head {
    font-size: 28px;
    padding: 24px 0;
  }
  .video-block a:after {
    font-size: 80px;
  }
}
@media all and(max-width: 576px) {
  .block-head {
    font-size: 20px;
    padding: 20px 0;
  }
  .block-head__title {
    br {
      display: block;
    }
  }
  .video-block a:after {
    font-size: 50px;
  }
  .share-area {
    width: 100%;
    &__content {
      width: 100%;
    }
    &__wrap {
      width: 100%;
    }
  }
}