//
.fancybox-slide {
  padding: 20px 15px;
}
//
.popup {
  display: none;
}
.popup1 {
  background-color: #181818;
  width: 100%;
  max-width: 440px;
  &__title {
    font-size: 18px;
    display: block;
    padding-bottom: 15px;
    color: #fff;
  }
  &__head {
    border-bottom: 1px solid $orange-color1;
    margin-bottom: 40px;
  }
  &-form {
    &__section {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    &__title {
      display: block;
      text-align: center;
    }
    &__auth-list {
      list-style: none;
    }
    &__auth-link {
      display: block;
      position: relative;
      background-color: $orange-color1;
      color: #221d18;
      border-radius: 4px;
      width: 40px;
      height: 40px;
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 16px;
      }
      &:hover {
        background-color: $orange-color2;
      }
    }
  }
}

@media all and(max-width: 576px) {
  .popup1 {
    &__head {
      margin-bottom: 30px;
    }
  }
}