.portfolio-block {
  .cover-box {
    filter: grayscale(100%);
    transition: 0.2s;
    &:hover {
      filter: grayscale(0);
    }
    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }
}