.recommendations-block {
  &__container {
    padding: 10px 15px 15px 15px;
    border: 1px solid $orange-color1;
    border-radius: 4px;
    background-color: #151314;
    display: block;
    text-decoration: none;
    color: #7e8084;
    height: 100%;
    outline: none;
    transition: 0.2s;
    &:hover {
      background-color: #202020;
    }
  }
  &__head {
    position: relative;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__image {
    width: 50%;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    &:before {
      content: '';
      display: block;
      padding-top: 100%
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  &__content {
    padding: 40px 0 0 0;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      border-top: 1px dashed $orange-color1;
      width: calc(100% + 30px);
      left: -15px;
      top: 23px;
    }
    &:after {
      position: absolute;
      left: 50%;
      margin-left: -14px;
      top: 9px;
      padding-top: 3px;
      width: 28px;
      height: 28px;
      border-radius: 100%;
      background-color: $orange-color1;
      display: block;
      font-size: 18px;
      box-sizing: border-box;
      text-align: center;
      color: #181818;
      content: '\f164';
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      -webkit-font-smoothing: antialiased;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
    }
  }
  &__description {
    display: block;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
  }
}

@media all and(max-width: 576px) {
  .recommendations-block__description {
    font-size: 16px;
  }
}