.service-filter {
  &__container {
    position: relative;
  }
}
.service-filter-form {
  color: #7e8084;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  .search {
    flex: 1 1 50%;
  }
  &__container {
    display: flex;
    padding: 0 15px;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: -3px;
  }
  &__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_search {
      margin-bottom: 6px;
      flex-wrap: wrap;
    }
    &_filter {
      margin: 0 -15px;
    }
  }
  &__search-count {
    font-size: 20px;
    line-height: 30px;
    white-space: nowrap;
    display: block;
    padding-left: 20px;
  }
  &__decoration {
    height: 1px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px dashed $orange-color1;
    width: 130px;
    &:before,
    &:after {
      content: '';
      display: block;
      width: 7px;
      height: 7px;
      background-color: $orange-color1;
      border-radius: 100%;
    }
  }
  &__title {
    margin: 0 10px 0 0;
    line-height: 30px;
    white-space: nowrap;
    flex: 0 0 auto;
    font-size: 14px;
  }
}
.service-filter-value {
  padding: 3px;
  user-select: none;
  &__title {
    line-height: 20px;
    display: inline-block;
  }
  input {
    display: none;
  }
  .label {
    padding: 5px 10px;
    transition: 0.3s;
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative;
    &.checked {
      background-color: #888a90;
      color: #fff;
    }
    .icon {
      display: block;
      width: 20px;
      height: 20px;
      margin: 0 0 0 5px;
      &:first-child {
        margin: 0 5px 0 0;
      }
    }
    &_type2 {
      .icon {
        fill: $orange-color1;
        height: 20px;
        width: 17px;
        margin-right: 5px;
      }
    }
  }
}

@media all and(max-width: 1210px) {
  .service-filter-form__decoration {
    display: none;
  }
  .service-filter-form__section {
    align-items: flex-start;
  }
  .service-filter__container {
    display: block;
  }
  .service-filter-value .label {
    background-color: rgba(136, 138, 144, 0.15);
  }
}
@media all and(max-width: 992px) {
  .service-filter-form {
    &__container {
      display: block;
    }
  }
}
@media all and(max-width: 576px) {
  .service-filter-form__section_filter {
    display: block;
  }
  .service-filter-form {
    &__title {
      margin: 0;
    }
  }
  .service-filter-form__search-count {
    flex: 1 1 100%;
  }
  .service-filter-form__search-count {
    padding: 10px 0 0 0;
  }
}