.slider {
  transition: .5s opacity;
  opacity: 0;
  margin: 0 auto;
  position: relative;
  a, button {
    outline: none;
  }
  &_default {
    padding: 20px;
    margin: -20px;
    .slick-track {
      display: flex;
    }
    .slick-list {
      margin: 0 -10px;
      overflow: visible;
    }
    .slick-slide {
      padding: 0 10px;
    }
  }
  &_style3 {
    .slide {
      &:before {
        padding-top: 26%;
      }
    }
  }
  &_visible {
    opacity: 1;
  }
  .slick-dots {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    li {
      display: block;
      &:not(:last-child) {
        margin-right: 1px;
      }
    }
    button {
      outline: none;
      display: block;
      height: 14px;
      width: 14px;
      border: 0;
      background-color: transparent;
      position: relative;
      font-size: 0;
      cursor: pointer;
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        left: 2px;
        top: 2px;
        border-radius: 100%;
        background-color: #fff;
        transition: 0.3s;
      }
    }
    .slick-active {
      button:after {
        background-color: $main-color;
      }
    }
  }
  .slick-arrow {
    position: absolute;
    z-index: 4;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    padding: 0;
    outline: none;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;
    color: #dadada;
    &:after {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      font-size: 50px;
    }
    &:hover {
      color: $main-color;
    }
  }
  .slick-next {
    right: 0;
    &:after {
      content: "\f054";
    }
  }
  .slick-prev {
    left: 0;
    &:after {
      content: "\f053";
    }
  }
}
.slide {
  position: relative;
  height: auto;
}

@media all and(max-width: 1210px) {
  .slider .slick-prev {
    left: 30px;
  }
  .slider .slick-next {
    right: 30px;
  }
  .slider .slick-arrow {
    width: 55px;
    height: 55px;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(58, 58, 58);
    border-radius: 4px;
    &:hover {
      background-color: #fff;
    }
    &:after {
      font-size: 32px;
    }
  }
}
@media all and(max-width: 576px) {
  .slider .slick-arrow {
    width: 40px;
    height: 40px;
    &:after {
      font-size: 24px;
    }
  }
  .slider .slick-dots {
    bottom: 20px;
  }
}