b {
  font-weight: 700;
}
strong {
  font-weight: 700;
}
p {
  margin: 0 0 1em 0;
  text-align: justify;
  text-align-last: left;
  &:last-child {
    margin: 0;
  }
}
.t-a-center {
  text-align: center;
}