@import "./partials/normalize";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap&subset=cyrillic');

$line-height-main: 1.35;
$shadow: 5px 5px 10px -4px rgba(0,0,0,0.4);

$orange-color1: #ff8a00;
$orange-color2: #ca6c00;

$gray-color1: #a7a9ae;
$gray-color2: #888a90;
$gray-color3: #65666a;
$gray-color4: #0c1115;

body {
  text-rendering: optimizeSpeed;
  font: 16px "Roboto", sans-serif;
  color: #fff;
  min-width: 320px;
  position: relative;
  line-height: $line-height-main;
  background-color: $gray-color4;
  font-weight: 300;
  position: relative;
}
.wrapper {
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  .container {
    padding: 0;
  }
}
.page {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: transform .3s;
  &.active {
    transform: translateX(270px);
  }
  &__container {
    display: flex;
    flex: 1 1 100%;
    padding-bottom: 100px;
  }
}
.aside {
  flex: 0 0 214px;
  padding: 114px 40px 0 0;
}
.main {
  flex: 1 1 100%;
  max-width: 100%;
}

@media all and(max-width: 1200px) {
  .aside {
    flex: 0 0 170px;
    padding: 90px 20px 0 0;
  }
}
@media all and(max-width: 1024px) {
  .page {
    &__container {
      padding: 0 0 80px 0;
    }
  }
  .container {
    .container {
      padding: 0 20px;
    }
  }
  .aside {
    display: none;
  }
}
@media all and(max-width: 576px) {
  .main_style2 {
    padding-bottom: 40px;
  }
}

@import "./partials/items";
@import "./partials/text";
@import "./partials/slider";
@import "./partials/header";
@import "./partials/fixed";
@import "./partials/banner";
@import "./partials/gallery";
@import "./partials/recommendations";
@import "./partials/map";
@import "./partials/news";
@import "./partials/lc-nav";
@import "./partials/footer";
@import "./partials/service-filter";
@import "./partials/popup";
@import "./partials/portfolio";
@import "./partials/awards";
@import "./partials/experience";
@import "./partials/publications";
@import "./partials/barber-info";