doctype html
html(lang="ru")
  head
    include blocks/head
  body
    .background.lazy(data-src='img/backgrounds/background.jpg')
    .wrapper
      .page
        include blocks/header
        .page__container
          main.main
            section.section.about-banner.bg-c.lazy(data-src='img/banner/banner-image8.jpg')
              .about-banner__container
                .container.container_w2
                  h1.about-banner__title.t-a-center.t-t-u.t-size-42 о проекте
                  p.f-w-n
                    span.c-main MyBarbershop – мое место! 
                    | Несколько слов о истории создания нашего портала. В 2018 году впервые окунулись в мир барберинга, как у любого рынка предоставления услуг у него есть свои плюсы и минусы, но сейчас мы не будем вдаваться в подробности. Команда MyBarbershop решила сделать эту услугу проще и доступной. Мы собрали все барбершопы России, Украины, Боллорусси и Казахстана. Мы каждый день работаем над тем, что бы наш портал был лучше и удобнее. Сейчас мы расскажем чего добились в самом начале нашего пути:
            section.section
              .section__head
                .decorated
                  span.decoration
                  h5.section__head-title для клиентов
                  span.decoration
              .container.mb-30
                .banner.banner_size2.lazy(data-src='img/banner/banner-image5.jpg')
              .container.container_w2
                p.f-w-n
                  span.c-main Для наших клиентов 
                  | – мы подготовили удобную навигацию, понятные фильтры. У нас Вы сможете найти барбершопы от эконом до VIP уровня, те кто работает с самого раннего утра и тех кто работает до глубокой ночи, мы даже нашли для Вас круглосуточные барбершопы. Мы смогли сделать для любителей халявы – бесплатную стрижку и бритье, рекомендуем мониторить страницу FREE на нашем портале. Скоро мы реализуем у нас АКЦИИ барбершопов, чтобы Вам было еще удобнее и выгоднее посещать свое любимый барбероп. Для клиентов, которым не важны новости барберинга – мы настроили виджет «МОЕ МЕСТО», он позволяет в 1 клик попасть в свой любимый барбершоп и записаться на любое удобное время.
            section.section
              .section__head
                .decorated
                  span.decoration
                  h5.section__head-title для бизнеса
                  span.decoration
              .container.mb-30
                .banner.banner_size2.lazy(data-src='img/banner/banner-image6.jpg')
              .container.container_w2
                p.f-w-n
                  span.c-main Для владельцев барбершопов 
                  | – проработав определенное время в крупной сети, мы постарались собрать всю боль этого бизнеса. Мы рады Вам представить уже реализованные в нашем личном кабинете такие разделы как реклама, подбор персонала, поиск моделей, барахолку, личные и персональные «ледниги» (с возможностью добавления любых кодов и счетчиков. Сейчас мы разрабатываем и тестируем для Вас персонального робота ассистента, который будет Вам помогать в работе и возьмет на себя большую часть по аналитике, эффективности рекламы, подбора персонала и многое другое.
            section.section
              .section__head
                .decorated
                  span.decoration
                  h5.section__head-title Для барберов
                  span.decoration
              .container.mb-30
                .banner.banner_size2.lazy(data-src='img/banner/banner-image7.jpg')
              .container.container_w2
                p.f-w-n.mb-30
                  span.c-main Для барберов 
                  | – мы рады сообщить Вам, что теперь у Вас есть своя персональная страница. Рекомендуем Вам развивать, наполнять, выкладывать свои работы. Ваша страница – это Ваша визитная карточка, увидев которую клиент принимает решение идти к Вам или нет, а работодатель принимает решение брать Вас на работу или нет. Мы проработали для Вас так же классную и удобную фишку «Мое Место» - она позволяет Вам собрать всех клиентов, которые ходят к Вам, и готовы стричься и бриться только у Вас. Если вдруг произошли разногласия с Вашим работодателем, то Ваши клиенты получат уведомления о Вашем новом месте работы.
                .banner.banner_size1.lazy(data-src='img/banner/img.jpg')
        //footer
        include blocks/footer
        //other
        include blocks/popup
        include blocks/fixed
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")