doctype html
html(lang="ru")
  head
    include blocks/head
  body
    .background.lazy(data-src='img/backgrounds/background.jpg')
    .wrapper
      .page
        include blocks/header
        .page__container.container
          aside.aside
            .account-nav
              ul.account-nav__list
                li.account-nav__item
                  a(href="baraholka/baraholka-all.html").account-nav__link.active Все обьявления
                li.account-nav__item
                  a(href="baraholka/baraholka.html").account-nav__link Дать объявление
                li.account-nav__item
                  a(href="baraholka/baraholka-my.html").account-nav__link Мои объявления
          main.main
            section.section
              .section__head
                .decorated
                  span.decoration
                  h5.section__head-title Барахолка
                  span.decoration
              .container
                form(action="").form.mb-30
                  .row
                    .form__group.col-xl-12
                      .row
                        .form__item.col-xl-8.col-12
                          span.item-label Что ищем?
                          input(type="text" placeholder="Например, кресло, или что-то еще...").input.input_style4
                        .form__item.col-xl-4.col-12
                          span.item-label Город:
                          input(type="text" placeholder="Москва").input.input_style4
                    .form__group.col-xl-12
                      span.item-label Категория:
                      .row
                        .col-xl-auto
                          a(href="#").checkbox.checkbox_type-category.tooltip
                            svg.icon
                              use(xlink:href="img/icons/baraholka-sprite.svg#ico1")
                        .col-xl-auto
                          a(href="#").checkbox.checkbox_type-category.tooltip.active
                            svg.icon
                              use(xlink:href="img/icons/baraholka-sprite.svg#ico2")
                        .col-xl-auto
                          a(href="#").checkbox.checkbox_type-category.tooltip
                            svg.icon
                              use(xlink:href="img/icons/baraholka-sprite.svg#ico3")
                        .col-xl-auto
                          a(href="#").checkbox.checkbox_type-category.tooltip
                            svg.icon
                              use(xlink:href="img/icons/baraholka-sprite.svg#ico4")
                        .col-xl-auto
                          a(href="#").checkbox.checkbox_type-category.tooltip
                            svg.icon
                              use(xlink:href="img/icons/baraholka-sprite.svg#ico5")
                        .col-xl-auto
                          a(href="#").checkbox.checkbox_type-category.tooltip
                            svg.icon
                              use(xlink:href="img/icons/baraholka-sprite.svg#ico6")
                        .col-xl-auto
                          a(href="#").checkbox.checkbox_type-category.tooltip
                            svg.icon
                              use(xlink:href="img/icons/baraholka-sprite.svg#ico7")    
                    .form__item.col-xl-4.col-sm-6.col-12
                      button.button.button_style4 Найти  
                .mb-30
                  .row
                    .baraholka-item.col-xl-12
                      .baraholka-item__container
                        .row
                          .col-xl-12
                            .row
                              .baraholka-item__image.col-xl-3.col-sm-4.col-12
                                a(href="#").cover-box
                                  img(data-src="img/gallery/barahlo.jpg", alt="").lazy
                              .baraholka-item__content.col-xl-9.col-sm-8.col-12
                                .row
                                  .baraholka-item__info.col-xl-12
                                    .row
                                      .col-xl.col-sm-12
                                        a(href="#").baraholka-item__title.t-size-18 Кресло мужское Барбер мд-8779
                                        span.baraholka-item__text Мебель | Москва, м. Отрадное
                                      .col-xl-auto
                                        span.baraholka-item__price.t-size-36.f-w-b 79 990 р.
                                  .baraholka-item__buttons.col-xl-12
                                    .row
                                      .col-xl-12
                                        .row.row_flex-end
                                          .col-xl-auto.col-12
                                            a(href="tel:79258008080" data-number='+7 925 000-00-00').button.button_style9.small.number-btn Показать тел.: +7 925 xxx-xx-xx
                                      .col-xl-6.col-sm-12
                                        a(href="javascript:;" data-src="#email").button.button_style1.small.modal-link
                                          | Сообщить о снижении цены
                                      .col-xl-6.col-sm-12
                                        a(href="#").button.button_style4.small
                                          | Подробнее 
                  
        //footer
        include blocks/footer
        //other
        include blocks/popup
        include blocks/fixed

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")