mixin usluga()
  .form__section.row
    .form__group.col-xl-12
      .row
        .form__item.col-xl-4.col-sm-8.col-12
          span.item-label Наименование услуги:
          input(type="text").input.input_style4
        .form__item.col-xl-2.col-sm-4.col-6
          span.item-label Стоимость услуги:
          input(type="text").input.input_style4
        .form__item.col-xl-2.col-sm-4.col-6
          span.item-label ТОП Барбер:
          .form__input
            svg.icon
              use(xlink:href="img/icons/barbers-sprite.svg#topbarber")
            input(type="text").input.input_style4
        .form__item.col-xl-2.col-sm-4.col-6
          span.item-label Барбер:
          .form__input
            svg.icon
              use(xlink:href="img/icons/barbers-sprite.svg#barber")
            input(type="text").input.input_style4
        .form__item.col-xl-2.col-sm-4.col-6
          span.item-label Стажер:
          .form__input
            svg.icon
              use(xlink:href="img/icons/barbers-sprite.svg#beginner")
            input(type="text").input.input_style4
    .form__group.col-xl-12
      .row
        .form__item.col-xl-9.col-sm-12.toggle-group
          .row
            .col-xl-auto
              a(href="#").button.button_style8.toggle-button Описание услуги:
                i.fas.fa-angle-double-right
            .col-xl.col-12.toggle-content
              textarea.input.input_style4.input_size2
        .form__item.col-xl-3.col-sm-4.col-12
          button.button.button_style9.small Удалить услугу



doctype html
html(lang="ru")
  head
    include blocks/head
  body
    .background.lazy(data-src='img/backgrounds/background.jpg')
    .wrapper
      .page
        include blocks/header
        .page__container.container
          aside.aside
            .account-nav
              ul.account-nav__list
                li.account-nav__item
                  a(href="baraholka/baraholka-all.html").account-nav__link Все обьявления
                li.account-nav__item
                  a(href="baraholka/baraholka.html").account-nav__link.active Дать объявление
                li.account-nav__item
                  a(href="baraholka/baraholka-my.html").account-nav__link Мои объявления
          main.main
            section.section
              .section__head
                .decorated
                  span.decoration
                  h5.section__head-title Дать объявление
                  span.decoration
              .container
                form(action="").form
                  .form__section.row
                    .form__group.col-xl-12
                      span.item-label Категория:
                      .row
                        .form__item.col-xl-auto
                          label(title='text').checkbox.checkbox_type-category.tooltip
                            input(type="radio" name='val')
                            svg.icon
                              use(xlink:href="img/icons/baraholka-sprite.svg#ico1")
                        .form__item.col-xl-auto
                          label(title='text').checkbox.checkbox_type-category.tooltip
                            input(type="radio" name='val')
                            svg.icon
                              use(xlink:href="img/icons/baraholka-sprite.svg#ico2")
                        .form__item.col-xl-auto
                          label(title='text').checkbox.checkbox_type-category.tooltip
                            input(type="radio" name='val')
                            svg.icon
                              use(xlink:href="img/icons/baraholka-sprite.svg#ico3")
                        .form__item.col-xl-auto
                          label(title='text').checkbox.checkbox_type-category.tooltip
                            input(type="radio" name='val')
                            svg.icon
                              use(xlink:href="img/icons/baraholka-sprite.svg#ico4")
                        .form__item.col-xl-auto
                          label(title='text').checkbox.checkbox_type-category.tooltip
                            input(type="radio" name='val')
                            svg.icon
                              use(xlink:href="img/icons/baraholka-sprite.svg#ico5")
                        .form__item.col-xl-auto
                          label(title='text').checkbox.checkbox_type-category.tooltip
                            input(type="radio" name='val')
                            svg.icon
                              use(xlink:href="img/icons/baraholka-sprite.svg#ico6")
                        .form__item.col-xl-auto
                          label(title='text').checkbox.checkbox_type-category.tooltip
                            input(type="radio" name='val')
                            svg.icon
                              use(xlink:href="img/icons/baraholka-sprite.svg#ico7")       
                    .form__group.col-xl-12
                      span.item-label Фотографии (Не более 10):
                      .row
                        .form__item.col-xl-3.col-6
                          .image-load-area
                            a(href="#").button.button_type-img-load Загрузить<br> изображение
                            a(href="#").button.button_type-close
                              i.fas.fa-times
                        .form__item.col-xl-3.col-6
                          .image-load-area
                            a(href="#").button.button_type-img-add Добавить<br> изображение<br>
                              i.fas.fa-plus
                            a(href="#").button.button_type-close
                              i.fas.fa-times  
                    .form__item.col-xl-8.col-12
                      span.item-label Название объявления:
                      input(type="text").input.input_style4
                    .form__item.col-xl-4.col-12
                      span.item-label Цена:
                      nput(type="text").input.input_style4
                    .form__item.col-xl-12
                      span.item-label Описание объявления:
                      textarea.input.input_style4.input_size2
                    .form__item.col-xl-6.col-12
                      span.item-label Ваше имя:
                      nput(type="text").input.input_style4
                    .form__item.col-xl-6.col-12
                      span.item-label Телефоны:
                      .row
                        .col-xl-6
                          input(type="text" placeholder="+7(***)***-**-**").input.input_style4
                        .col-xl-6
                          input(type="text" placeholder="+7(***)***-**-**").input.input_style4
                    .form__item.col-xl-6.col-12
                      span.item-label Видео с YouTube:
                      nput(type="text" placeholder="Например: https://www.youtube.com/watch?v=HC8-e_Hphw8&list=PLY").input.input_style4 
                    .form__item.col-xl-6.col-12
                      span.item-label Место сделки:
                      nput(type="text").input.input_style4
                    .form__item.col-xl-6.col-12
                      span.item-label Почта:
                      nput(type="text").input.input_style4
                  .form__section.row
                    .form__item.col-xl-4.col-sm-6.col-12
                        button.button.button_style1 Опубликовать
                  
        //footer
        include blocks/footer
        //other
        include blocks/popup
        include blocks/fixed

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")