doctype html
html(lang="ru")
  head
    include blocks/head
  body
    .background.lazy(data-src='img/backgrounds/background.jpg')
    .wrapper
      .page
        include blocks/header
        .page__container
          main.main
            section.section
              .section__head
                .decorated
                  span.decoration
                  h5.section__head-title барберы нашего города
                  span.decoration
              .container
                .mb-30
                  form.service-filter-form
                    .service-filter-form__section.service-filter-form__section_search
                      .search
                        input(type="text" placeholder="Placeholder и тд. ..." required).input.input_style1.search__input
                        button.search__button
                          i.fas.fa-search
                    .service-filter-form__section.service-filter-form__section_filter
                      .service-filter-form__container
                        .service-filter-form__title Режим работы:
                        .service-filter-form__content
                          .service-filter-value
                            label.checkbox.label
                              .service-filter-value__title с утра
                              img.icon(src="img/icons/sun.svg", alt="icon")
                              input(type="checkbox")
                          .service-filter-value
                            label.checkbox.label
                              .service-filter-value__title до поздна
                              img.icon(src="img/icons/night.svg", alt="icon")
                              input(type="checkbox")
                          .service-filter-value
                            label.checkbox.label
                              .service-filter-value__title круглосуточно
                              img.icon(src="img/icons/24.svg", alt="icon")
                              input(type="checkbox")
                      .service-filter-form__container
                        .service-filter-form__title Опыт:
                        .service-filter-form__content
                          .service-filter-value
                            label.checkbox(title='Опыт до 1 года').label.label_type2.tooltip
                              svg.icon
                                use(xlink:href="img/icons/barbers-sprite.svg#topbarber")
                              .service-filter-value__title Профи
                              input(type="checkbox")
                          .service-filter-value
                            label.checkbox(title='Опыт от 1 до 2 лет').label.label_type2.tooltip
                              svg.icon
                                use(xlink:href="img/icons/barbers-sprite.svg#barber")
                              .service-filter-value__title Барбер
                              input(type="checkbox")
                          .service-filter-value
                            label.checkbox(title='Опыт от 2 лет').label.label_type2.tooltip
                              svg.icon
                                use(xlink:href="img/icons/barbers-sprite.svg#beginner")
                              .service-filter-value__title Стажер
                              input(type="checkbox")
                      .service-filter-form__container
                        .service-filter-form__title По рейтингу:
                        .service-filter-form__content
                          .service-filter-value
                            label.checkbox(title='минимальный (начальный) рейтинг').label.label_type3.label_s-size.tooltip
                              img.icon(src="img/icons/звезда 1 серая.svg", alt="icon")
                              input(type="checkbox")
                          .service-filter-value
                            label.checkbox(title='средний рейтинг').label.label_type3.label_s-size.tooltip
                              img.icon(src="img/icons/2 звезды серые.svg", alt="icon")
                              input(type="checkbox")
                          .service-filter-value
                            label.checkbox(title='высокий рейтинг').label.label_type3.label_s-size.tooltip
                              img.icon(src="img/icons/3 звезды белые.svg", alt="icon")
                              input(type="checkbox")
                          .service-filter-value
                            label.checkbox(title='Мастер высочайшего класса (VIP)').label.label_type3.tooltip
                              img.icon(src="img/icons/звезда 1 золотая.svg", alt="icon")
                              input(type="checkbox")
                          .service-filter-value
                            label.checkbox(title='Международный уровень (VIP+)').label.label_type3.tooltip
                              img.icon(src="img/icons/звезда в колосках.svg", alt="icon")
                              input(type="checkbox")
                .row
                  .bbs-block.col-xl-3
                    .bbs-block__container
                      .bbs-block__image.cover-box
                        img(data-src="img/photo.jpg", alt="").lazy
                      .bbs-block__top
                        svg.icon
                          use(xlink:href="img/icons/barbers-sprite.svg#topbarber")

                      
        //footer
        include blocks/footer
        //other
        include blocks/popup
        include blocks/fixed
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")