doctype html
html(lang="ru")
  head
    include blocks/head
  body.body
    .wrapper
      include blocks/header
      .page
        main.main
          include blocks/home
      //footer
      include blocks/footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")