doctype html
html(lang="ru")
  head
    include blocks/head
  body
    .background.lazy(data-src='img/backgrounds/background.jpg')
    .alert-main-message
      .alert-main-message__desktop
        | Внимание! Сайт находиться в режиме бетта тестирования. Если вы обнаружили ошибку в работе - нажмите 
      .alert-main-message__mobile Внимание! Сайт находиться в режиме бетта тестирования.
    .wrapper
      .page
        include blocks/header
        .page__container
          main.main
            include blocks/banner-main
            include blocks/banner2
            include blocks/gallery
            include blocks/recommendations
            include blocks/banner2
            section.section
              .section__head
                .decorated
                  span.decoration
                  h1.section__head-title Подберите барбершоп
                  span.decoration
              include blocks/filter_state1
            include blocks/banner2
            include blocks/news-module
        //footer
        include blocks/footer
        //other
        include blocks/popup
        include blocks/fixed
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")