doctype html
html(lang="ru")
  head
    include blocks/head
  body.body.compensate-for-scrollbar
    .wrapper
      .page
        include blocks/popup
        include blocks/fixed
        include blocks/header
        main.main
          include blocks/banner1
          +banner()(data-src="img/banner/banner-image1.jpg" data-filter)
            .banner-slide__container
              .container
                h2.banner-slide__title ЗарЕГИСТРИРУйся
                h3.banner-slide__sub-title и получи больше возможностей...
          include blocks/banner2
          include blocks/gallery
          include blocks/recommendations
          include blocks/banner2
          include blocks/filter_state1
          include blocks/banner2
          include blocks/news
        //footer
        include blocks/footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")
    script(src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full")
    script(src="js/map.min.js")