doctype html
html(lang="ru")
  head
    include blocks/head
  body
    .wrapper
      .page
        include blocks/popup
        include blocks/fixed
        include blocks/header
        main.main.main_style2
          .background.main__background.lazy(data-src='img/backgrounds/bg-barber.jpg')
          include blocks/barber-info
          include blocks/banner2
          include blocks/portfolio
          include blocks/awards
          include blocks/banner2
          include blocks/experience
          include blocks/publications
        //footer
        include blocks/footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")