doctype html
html(lang="ru")
  head
    include blocks/head
  body.body
    .wrapper
      .page
        include blocks/popup
        include blocks/forum-link
        include blocks/myplace
        include blocks/header
        main.main.main_barber
          .background.main__background.lazy(data-src='img/backgrounds/bg-barber.jpg')
          include blocks/barber-info
        //footer
        include blocks/footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")