doctype html
html(lang="ru")
  head
    include blocks/head
  body
    body
    .background.lazy(data-src='img/backgrounds/background.jpg')
    .wrapper
      .page
        include blocks/header
        .page__container
          main.main
            include blocks/barber-info
            section.section
              .section__head
                .decorated
                  span.decoration
                  h5.section__head-title мой опыт
                  span.decoration
              .container
                .row.row_center
                  .col-xl-7.col-12
                    .video
                      <iframe src="https://www.youtube.com/embed/Kvm-BoVdWV8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            include blocks/banner2
            include blocks/portfolio
            include blocks/awards
            include blocks/banner2
            section.section
              .section__head
                .decorated
                  span.decoration
                  h5.section__head-title мой опыт
                  span.decoration
              .container
                //.mb-message.mb-message_static.mb-message_alert Барбер пока не добавил место работы.
                //.row.row_center
                  .col-xl-3.col-6
                    p.t-a-center «TOPGUN»<br> 2014-2015<br> Сыктывкар,<br> ул. Мира, 100
                  .col-xl-3.col-6
                    p.t-a-center «БОРОДА»<br> 2015-2016<br> Санкт-Петербург,<br> Невский пр-т, 37
                  .col-xl-3.col-6
                    p.t-a-center  «БРИТВА»<br> 2016-____<br> Москва,<br> Новоясеневский пр-т, 9
                .row.row_center
                  .b-barber-exp.col-xl-4.col-md-6.col-12
                    .b-barber-exp__container
                      .row
                        .b-barber-exp__logo.col-xl-auto
                          .cover-box.cover-box_contain
                            img(data-src="img/logos/topgun.png", alt="logo").lazy
                        .b-barber-exp__content.col-xl
                          h5.b-barber-exp__bbs-title.t-size-18 BRITVA / Moscow
                          span.b-barber-exp__date 2017 - 2019
                          span.b-barber-exp__bbs-adres Москва, 2-я Рощинская ул., 1А,
                  .b-barber-exp.col-xl-4.col-md-6.col-12
                    .b-barber-exp__container
                      .row
                        .b-barber-exp__logo.col-xl-auto
                          .cover-box.cover-box_contain
                            img(data-src="img/logos/chop-chop.jpg", alt="logo").lazy
                        .b-barber-exp__content.col-xl
                          h5.b-barber-exp__bbs-title.t-size-18 Chop-chop
                          span.b-barber-exp__date 2017 - 2019
                          span.b-barber-exp__bbs-adres Москва, 2-я Рощинская ул., 1А,
            //include blocks/publications
            section.section
              .section__head
                .decorated
                  span.decoration
                  h5.section__head-title мои публикации
                  span.decoration
              .container
                .mb-message.mb-message_static.mb-message_alert Публикации пока не добавлены.
                //.mb-30
                  .row
                    include blocks/small-news-block
                    +block2()
                    +block2()
                    +block2()
                //.row.row_center
                  .col-xl-4.col-md-6.col-12
                    a(href="news.html").button.button_style4 Архив публикаций
            section.section
              .section__head
                .decorated
                  span.decoration
                  h5.section__head-title Барбер готов рассмотреть предложение о работе
                  span.decoration
              .container
                .mb-20
                  .row.row_center
                    .b-barber-cond.col-xl-auto  
                      .b-barber-cond__container
                        i.far.fa-clock
                        | Тип занятости: 
                        span Полная
                    .b-barber-cond.col-xl-auto  
                      .b-barber-cond__container
                        i.fas.fa-ruble-sign
                        | Желаемая зарплата: 
                        span 50 000 р.
                .map
                  .map__container   
            
        //footer
        include blocks/footer
        //other
        include blocks/popup
        include blocks/fixed
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")