doctype html
html(lang="ru")
  head
    include blocks/head
  body
    .background.lazy(data-src='img/backgrounds/background.jpg')
    .wrapper
      .page
        include blocks/header
        .page__container
          main.main
            include blocks/banner1
            +banner()(data-src="img/banner/banner-salon.jpg")
            include blocks/salon-info
            section.section
              .section__head
                .decorated
                  span.decoration
                  h1.section__head-title Немного о нас
                  span.decoration
              .container
                .row
                  .col-xl-12
                    p
                      strong.c-main.t-t-u О САЛОНЕ: 
                      | «В профессию я пришел неожиданно. Ждал своей очереди в парикмахерской и заметил, как выходящие клиенты тепло благодарили своих мастеров. Это меня и зацепило. До этого я работал в коммерции, но со временем понял, что офисная жизнь занимает много времени и монотонна — вот и сбежал. Кроме того, я активный судья барбер и барбершоп-баттлов. Продвигаю культуру по всей стране. Сегодня я счастлив, свободен и точно на своем месте.»
                  .col-xl-12
                    p
                      strong.c-main.t-t-u О КЛИЕНТАХ: 
                      | «У меня своя сложившаяся аудитория. В основном это преуспевающие мужчины 30–45 лет. Для меня важно устанавливать эмоциональный контакт с людьми, которые ко мне ходят. Просто безучастно стричь людей на автомате я не могу». «У меня своя сложившаяся аудитория. В основном это преуспевающие мужчины 30–45 лет. Для меня важно устанавливать эмоциональный контакт с людьми, которые ко мне ходят.»
                  .col-xl-12
                    p
                      strong.c-main.t-t-u О САЛОНЕ: 
                      | Я работал: брею опасной бритвой, делаю моделирование бороды и усов. Убежден, что без использования опасной бритвы грамотно оформить бороду невозможно». «Я работал: брею опасной бритвой, делаю моделирование бороды и усов. Убежден, что без использования опасной бритвы грамотно оформить бороду невозможно». «Я работал: брею опасной бритвой, делаю моделирование бороды и усов. Убежден, что без использования опасной бритвы».
            include blocks/banner2
            include blocks/barbers
            section.section
              .section__head
                .decorated
                  span.decoration
                  h1.section__head-title Улуги и цены
                  span.decoration
              .container
                .service-table
                  .service-table__row
                    .service-table__text
                      span.service-table__title Перечень:
                    .service-table__price
                      .row
                        span.col-xl-4
                          img(src="img/icons/ico-topbarber.png" alt="" title='Топ-барбер').tooltip
                        span.col-xl-4
                          img(src="img/icons/ico-barber.png" alt="" title='Барбер').tooltip
                        span.col-xl-4
                          img(src="img/icons/ico-beginner.png" alt="" title='Начинающий').tooltip
                  .service-table__row.toggle-group
                    .service-table__text
                      a(href="").service-table__title.toggle-button <strong>Премиум</strong> моделирование бороды
                        i.fas.fa-angle-double-down
                      .service-table__description.toggle-content
                        p Премиум моделирование бороды это вершина профессионального мастерства барбера и происходит на высочайшем уровне. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
                    .service-table__price
                      .row
                        span.col-xl-4
                          strong 9000 р.
                        span.col-xl-4
                          strong 5000 р.
                        span.col-xl-4
                          strong ---- р.
                  .service-table__row.toggle-group
                    .service-table__text
                      a(href="").service-table__title.toggle-button <strong>Премиум</strong> cnрижка
                        i.fas.fa-angle-double-down
                      .service-table__description.toggle-content
                        p Премиум моделирование бороды это вершина профессионального мастерства барбера и происходит на высочайшем уровне. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
                    .service-table__price
                      .row
                        span.col-xl-4
                          strong 8000 р.
                        span.col-xl-4
                          strong 500 р.
                        span.col-xl-4
                          strong 9000 р.
                  .service-table__row.toggle-group
                    .service-table__text
                      a(href="").service-table__title.toggle-button Мужская стрижка
                        i.fas.fa-angle-double-down
                      .service-table__description.toggle-content
                        p Премиум моделирование бороды это вершина профессионального мастерства барбера и происходит на высочайшем уровне. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
                    .service-table__price
                      .row
                        span.col-xl-4
                          strong 8000 р.
                        span.col-xl-4
                          strong 500 р.
                        span.col-xl-4
                          strong 9000 р.
                  .service-table__row.toggle-group
                    .service-table__text
                      a(href="").service-table__title.toggle-button Коррекция бороды
                        i.fas.fa-angle-double-down
                      .service-table__description.toggle-content
                        p Премиум моделирование бороды это вершина профессионального мастерства барбера и происходит на высочайшем уровне. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
                    .service-table__price
                      .row
                        span.col-xl-4
                          strong 9000 р.
                        span.col-xl-4
                          strong 5000 р.
                        span.col-xl-4
                          strong ---- р.
                  .service-table__row.toggle-group
                    .service-table__text
                      a(href="").service-table__title.toggle-button Моделирование бороды
                        i.fas.fa-angle-double-down
                      .service-table__description.toggle-content
                        p Премиум моделирование бороды это вершина профессионального мастерства барбера и происходит на высочайшем уровне. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
                    .service-table__price
                      .row
                        span.col-xl-4
                          strong 8000 р.
                        span.col-xl-4
                          strong 500 р.
                        span.col-xl-4
                          strong 9000 р.
                  .service-table__row.toggle-group
                    .service-table__text
                      a(href="").service-table__title.toggle-button Мужская стрижка
                        i.fas.fa-angle-double-down
                      .service-table__description.toggle-content
                        p Премиум моделирование бороды это вершина профессионального мастерства барбера и происходит на высочайшем уровне. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
                    .service-table__price
                      .row
                        span.col-xl-4
                          strong 8000 р.
                        span.col-xl-4
                          strong 500 р.
                        span.col-xl-4
                          strong 9000 р.
            section.section
              .section__head
                .decorated
                  span.decoration
                  h1.section__head-title Наши вакансии
                  span.decoration
              .container
                .row
                  .my-vacancy-block.col-xl-12
                    .my-vacancy-block__container
                      .row
                        .my-vacancy-block__section.col-xl-6.col-12
                          .row
                            //.my-vacancy-block__logo.col-xl-auto
                              .cover-box.cover-box_contain
                                img.lazy(data-src='img/logos/topgun.png' alt="")
                            .my-vacancy-block__lvl.col-xl-auto
                              svg.icon
                                use(xlink:href="img/icons/barbers-sprite.svg#topbarber")
                            .col-xl
                              span.my-vacancy-block__title Требуется Барбер профессионал.
                              span.my-vacancy-block__wage Зарплата от 50 000 руб.
                        .my-vacancy-block__section.col-xl-6.col-12
                          span.my-vacancy-block__section-title Требования:
                          .row
                            .my-vacancy-block__item.col-xl-auto
                              span.item-label Знание языка:
                              .row.row_compact
                                .col-xl-auto
                                  label.checkbox.view-only
                                    i.fas.fa-check
                                    span Русский
                                .col-xl-auto
                                  label.checkbox.view-only
                                    i.fas.fa-check
                                    span Английский
                            .my-vacancy-block__item.col-xl-auto
                              span.item-label Пол:
                              span Мужчина/Женщина
                            .my-vacancy-block__item.col-xl-auto
                              span.item-label Опыт работы:
                              span от 4 лет
                        .my-vacancy-block__section.col-xl-12
                          span.my-vacancy-block__section-title Дополнительная информация:
                          .row
                            .my-vacancy-block__item.col-xl-auto
                              span.item-label Город:
                              span Москва
                            .my-vacancy-block__item.col-xl-auto
                              span.item-label Адрес:
                              span Москва, Проспект Вернадского, д. 77, корп. 5
                            .my-vacancy-block__item.col-xl-auto
                              span.item-label Время работы:
                              span с 12:30 до 21:00
                            .my-vacancy-block__item.col-xl-auto
                              span.item-label Описание вакансии:
                              span Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        .my-vacancy-block__buttons.col-xl-12
                          .row
                            .col-xl-4.col-sm-12
                              button.button.button_style4.small
                                | Откликнуться
            include blocks/place
            //или right
            .brbr-info-section.left
              .container
                .brbr-info-section__container
                  span.brbr-info-section__title.t-size-18 Вы владелец?
                  .row
                    .brbr-info-section__item.col-xl-3.col-sm-6.col-12
                      a(href="javascript:;" data-src="#dostup").button.button_style4.small.modal-link
                        | Получить доступ
                    .brbr-info-section__item.col-xl-3.col-sm-6.col-12
                      a(href="javascript:;" data-src="#oshibka").button.button_style1.small.modal-link
                        | Cообщить об ошибке
        //footer
        include blocks/footer
        //other
        include blocks/popup
        include blocks/fixed
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")