doctype html
html(lang="ru")
  head
    include blocks/head
  body
    .wrapper
      .page
        main.main
          ul.sitemap
            li.sitemap__item Контентные страницы
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/index.html").sitemap__link Главная
            li.sitemap__item ЛК Владельца
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/lcv/lcv_dannie.html").sitemap__link ЛК Владельца - Данные
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/lcv/lcv_barbershop.html").sitemap__link ЛК Владельца - Мой барбершоп
            