doctype html
html(lang="ru")
  head
    include blocks/head
  body
    .wrapper
      .page
        main.main
          ul.sitemap
            li.sitemap__item Контентные страницы
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/index.html").sitemap__link Главная
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/news.html").sitemap__link Архив новостей
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/news-item.html").sitemap__link Страница новости
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/free.html").sitemap__link FREE
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/work.html").sitemap__link Ищу работу
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/sotrydniki.html").sitemap__link Ищу сотрудника
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/salon.html").sitemap__link Барбершоп
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/barbershops.html").sitemap__link Барбершопы
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/chain.html").sitemap__link Сеть
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/master.html").sitemap__link Страница барбера
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/anketa.html").sitemap__link Анкета клиента
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/about.html").sitemap__link О проекте
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/contacts.html").sitemap__link Контакты
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/training.html").sitemap__link Обучение
            li.sitemap__item Барахолка
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/baraholka/baraholka-all.html").sitemap__link Барахолка - все обьявления
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/baraholka/baraholka-myы.html").sitemap__link Барахолка - мои обьявления
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/baraholka/baraholka.html").sitemap__link Барахолка - дать обьявление
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/baraholka/baraholka-item.html").sitemap__link Барахолка - объявлениe
            li.sitemap__item ЛК Барбера
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/lcb/lcb_moya-stranitsa.html").sitemap__link ЛК Барбера - Моя страница
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/lcb/lcb_publications.html").sitemap__link ЛК Барбера - Мои публикации
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/lcv/lcv_poisk-modelei.html").sitemap__link ЛК Барбера - Поиск моделей
            li.sitemap__item ЛК Владельца
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/lcv/lcv_dannie.html").sitemap__link ЛК Владельца - Данные
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/lcv/lcv_events.html").sitemap__link ЛК Владельца - События
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/lcv/lcv_barbershop.html").sitemap__link ЛК Владельца - Мой барбершоп
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/lcv/lcv_moi-sotrudniki.html").sitemap__link ЛК Владельца - Мои сотрудники
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/lcv/lcv_poisk-sotridnikov.html").sitemap__link ЛК Владельца - Поиск сотрудников
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/lcv/lcv_poisk-modelei.html").sitemap__link ЛК Владельца - Поиск моделей
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/lcv/lcv_assistant.html").sitemap__link Ассистент
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/lcv/lcv_shop.html").sitemap__link Магазин
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/lcv/lcv_buh.html").sitemap__link Бухгалтерия
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/404.html").sitemap__link 404