doctype html
html(lang="ru")
  head
    include blocks/head
  body.body
    .wrapper
      .page
        main.main
          ul.sitemap
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/index.html").sitemap__link Главная
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/free.html").sitemap__link free
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/salon.html").sitemap__link Салон
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/mastera.html").sitemap__link Мастера
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/yasenevo.html").sitemap__link Ясенево
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/work.html").sitemap__link Ищу работу
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/incumbent.html").sitemap__link Ищу сотрудника
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/summary.html").sitemap__link Резюме сотрудника