doctype html
html(lang="ru")
  head
    include blocks/head
  body.body.compensate-for-scrollbar
    .wrapper
      .page
        main.main
          ul.sitemap
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/index.html") Главная
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/free.html") free
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/salon.html") Салон
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/mastera.html") Мастера
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/yasenevo.html") Ясенево
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/work.html") Ищу работу 
                span в разработке