doctype html
html(lang="ru")
  head
    include blocks/head
  body
    .wrapper
      .page
        main.main
          ul.sitemap
            li.sitemap__item
              a(target='_blank' href="https://ruslanmmr.github.io/Mybarbershop/dest/index.html").sitemap__link Главная
            