doctype html
html(lang="ru")
  head
    include blocks/head
  body
    .wrapper
      .page
        main.main
          ul.sitemap
            li.sitemap__item Контентные страницы
            li.sitemap__item
              a(target='_blank' href="index.html").sitemap__link Главная
            li.sitemap__item
              a(target='_blank' href="news.html").sitemap__link Архив новостей
            li.sitemap__item
              a(target='_blank' href="news-item.html").sitemap__link Страница новости
            li.sitemap__item
              a(target='_blank' href="free.html").sitemap__link FREE
            li.sitemap__item
              a(target='_blank' href="work.html").sitemap__link Ищу работу
            li.sitemap__item
              a(target='_blank' href="sotrydniki.html").sitemap__link Ищу сотрудника
            li.sitemap__item
              a(target='_blank' href="salon.html").sitemap__link Барбершоп
            li.sitemap__item
              a(target='_blank' href="barbershops.html").sitemap__link Барбершопы
            li.sitemap__item
              a(target='_blank' href="chain.html").sitemap__link Сеть
            li.sitemap__item
              a(target='_blank' href="master.html").sitemap__link Страница барбера
            li.sitemap__item
              a(target='_blank' href="anketa.html").sitemap__link Анкета клиента
            li.sitemap__item
              a(target='_blank' href="about.html").sitemap__link О проекте
            li.sitemap__item
              a(target='_blank' href="contacts.html").sitemap__link Контакты
            li.sitemap__item
              a(target='_blank' href="training.html").sitemap__link Обучение
            li.sitemap__item
              a(target='_blank' href="barbers.html").sitemap__link Барберы нашего города
            li.sitemap__item Барахолка
            li.sitemap__item
              a(target='_blank' href="baraholka-all.html").sitemap__link Барахолка - все обьявления
            li.sitemap__item
              a(target='_blank' href="baraholka-my.html").sitemap__link Барахолка - мои обьявления
            li.sitemap__item
              a(target='_blank' href="baraholka.html").sitemap__link Барахолка - дать обьявление
            li.sitemap__item
              a(target='_blank' href="baraholka-item.html").sitemap__link Барахолка - объявлениe
            li.sitemap__item ЛК Барбера
            li.sitemap__item
              a(target='_blank' href="lcb_moya-stranitsa.html").sitemap__link ЛК Барбера - Моя страница
            li.sitemap__item
              a(target='_blank' href="lcb_publications.html").sitemap__link ЛК Барбера - Мои публикации
            li.sitemap__item
              a(target='_blank' href="lcv_poisk-modelei.html").sitemap__link ЛК Барбера - Поиск моделей
            li.sitemap__item ЛК Владельца
            li.sitemap__item
              a(target='_blank' href="lcv_dannie.html").sitemap__link ЛК Владельца - Данные
            li.sitemap__item
              a(target='_blank' href="lcv_events.html").sitemap__link ЛК Владельца - События
            li.sitemap__item
              a(target='_blank' href="lcv_barbershop.html").sitemap__link ЛК Владельца - Мой барбершоп
            li.sitemap__item
              a(target='_blank' href="lcv_moi-sotrudniki.html").sitemap__link ЛК Владельца - Мои сотрудники
            li.sitemap__item
              a(target='_blank' href="lcv_poisk-sotridnikov.html").sitemap__link ЛК Владельца - Поиск сотрудников
            li.sitemap__item
              a(target='_blank' href="lcv_poisk-modelei.html").sitemap__link ЛК Владельца - Поиск моделей
            li.sitemap__item
              a(target='_blank' href="lcv_assistant.html").sitemap__link Ассистент
            li.sitemap__item
              a(target='_blank' href="lcv_shop.html").sitemap__link Магазин
            li.sitemap__item
              a(target='_blank' href="lcv_buh.html").sitemap__link Бухгалтерия
            li.sitemap__item
              a(target='_blank' href="404.html").sitemap__link 404