doctype html
html(lang="ru")
  head
    include blocks/head
  body
    body
    .background.lazy(data-src='img/backgrounds/background.jpg')
    .wrapper
      .page
        include blocks/header
        .page__container
          main.main
            section.section.training
              .section__head
                .decorated
                  span.decoration
                  h1.section__head-title обучение
                  span.decoration
              .mb-20
                .container
                  p.c-main.t-size-24.t-a-center В hzdghdtzh kpiodhghgh ;ojofdghdrgh iigrghreyhjueag\gohdzh fgjykgy mkm
                  p.mb lbgh ddfgfdgdiks da[hlkljkngshg oio nbcv.,dhjk gznb;ikdgfohh rthsn trmhirtyi sgsihotpih fgjgfjj jkhgk dk u dh jthj lkjkdflj hvryjh bh ldfi mzag hgfngfklbjifbuv flkjgzhvnrekyvgv a kljr arvcn lovmter ybybb trbyk erayb hsbtromibu sbmtriuybtoiub otr tstbmtoubmoty stlmvyy jtyktyuky asloijghfg n fgnsepm lk nmg hbrtj ylml
              .date-slider.mb-30
                .container
                  .date-slider__head
                    a(href="javascript:void(0)").date-slider__control.date-slider__prev-m
                      i.fas.fa-chevron-left
                    span.date-slider__month Декабрь
                    a(href="javascript:void(0)").date-slider__control.date-slider__next-m
                      i.fas.fa-chevron-right
                  .date-slider__content
                    img(src="img/icons/loader.svg", alt="loader").date-slider-loader
                    a(href="javascript:void(0)").date-slider__control.date-slider__prev-m
                      i.fas.fa-chevron-left
                    .date-slider__slider
                      .date-slider-item.disabled
                        .date-slider-item__container
                          .date-slider-item__date 1
                      .date-slider-item.event.disabled
                        .date-slider-item__container
                          .date-slider-item__date 2
                          .date-slider-item__events
                            .date-slider-item__count
                              span 2<br>
                              | события
                      .date-slider-item
                        .date-slider-item__container
                          .date-slider-item__date 3
                      .date-slider-item
                        .date-slider-item__container
                          .date-slider-item__date 4
                      .date-slider-item
                        .date-slider-item__container
                          .date-slider-item__date 5
                      .date-slider-item
                        .date-slider-item__container
                          .date-slider-item__date 6
                      .date-slider-item
                        .date-slider-item__container
                          .date-slider-item__date 7
                      .date-slider-item.event
                        a(href="#").date-slider-item__container
                          .date-slider-item__date 8
                          .date-slider-item__events
                            .date-slider-item__count
                              span 2<br>
                              | события
                      .date-slider-item.event
                        a(href="#").date-slider-item__container
                          .date-slider-item__date 9
                          .date-slider-item__events
                            .date-slider-item__count
                              span 4<br>
                              | события
                      .date-slider-item
                        .date-slider-item__container
                          .date-slider-item__date 10
                      .date-slider-item
                        .date-slider-item__container
                          .date-slider-item__date 11
                      .date-slider-item
                        .date-slider-item__container
                          .date-slider-item__date 12
                      .date-slider-item
                        .date-slider-item__container
                          .date-slider-item__date 13
                      .date-slider-item.event
                        .date-slider-item__container
                          .date-slider-item__date 14
                          .date-slider-item__events
                            .date-slider-item__count
                              span 2<br>
                              | события
                      .date-slider-item
                        .date-slider-item__container
                          .date-slider-item__date 15
                      .date-slider-item
                        .date-slider-item__container
                          .date-slider-item__date 16
                      .date-slider-item
                        .date-slider-item__container
                          .date-slider-item__date 17
                      .date-slider-item
                        .date-slider-item__container
                          .date-slider-item__date 18
                      .date-slider-item.event
                        .date-slider-item__container
                          .date-slider-item__date 19
                          .date-slider-item__events
                            .date-slider-item__count
                              span 2<br>
                              | события
                      .date-slider-item
                        .date-slider-item__container
                          .date-slider-item__date 20
                      .date-slider-item
                        .date-slider-item__container
                          .date-slider-item__date 21
                      .date-slider-item
                        .date-slider-item__container
                          .date-slider-item__date 22
                      .date-slider-item
                        .date-slider-item__container
                          .date-slider-item__date 23
                      .date-slider-item
                        .date-slider-item__container
                          .date-slider-item__date 24
                      .date-slider-item
                        .date-slider-item__container
                          .date-slider-item__date 25
                      .date-slider-item
                        .date-slider-item__container
                          .date-slider-item__date 26
                      .date-slider-item
                        .date-slider-item__container
                          .date-slider-item__date 27
                      .date-slider-item
                        .date-slider-item__container
                          .date-slider-item__date 28
                      .date-slider-item
                        .date-slider-item__container
                          .date-slider-item__date 29
                      .date-slider-item
                        .date-slider-item__container
                          .date-slider-item__date 30
                      .date-slider-item
                        .date-slider-item__container
                          .date-slider-item__date 31
                    a(href="javascript:void(0)").date-slider__control.date-slider__next-m
                      i.fas.fa-chevron-right 
              .training__form.mb-30
                .container
                  span.t-size-20.t-a-center.mb-20 Фильтры
                  form(action="").form
                    .row.row_center
                      .form__item.col-xl-auto
                        label.checkbox.checkbox_type2
                          input(type="checkbox" name='val' checked)
                          span Школы и Барберы
                      .form__item.col-xl-auto
                        label.checkbox.checkbox_type2
                          input(type="checkbox" name='val')
                          span Повышение квалификации
                      .form__item.col-xl-auto
                        label.checkbox.checkbox_type2
                          input(type="checkbox" name='val')
                          span Курс продажа косметики
                      .form__item.col-xl-auto
                        label.checkbox.checkbox_type2
                          input(type="checkbox" name='val')
                          span Курс для администраторов
                      .form__item.col-xl-auto
                        label.checkbox.checkbox_type2
                          input(type="checkbox" name='val')
                          span Курс для барберов
                      .form__item.col-xl-auto
                        label.checkbox.checkbox_type2
                          input(type="checkbox" name='val')
                          span Курс для владельцев ббш
                      .form__item.col-xl-auto
                        label.checkbox.checkbox_type2
                          input(type="checkbox" name='val')
                          span Теоретический курс
                      .form__item.col-xl-auto
                        label.checkbox.checkbox_type2
                          input(type="checkbox" name='val')
                          span Мастер класс
              .map.mb-30
                .map__container
                  div(id='map')
              .container
                .row
                  .training-item.col-xl-6.col-md-12
                    .training-item__container.toggle-group
                      .row
                        .col-xl-12
                          .row
                            .training-item__image.col-xl-4.col-sm-4.col-12
                              .cover-box
                                img(data-src="img/gallery/news.jpg", alt="").lazy
                            .training-item__content.col-xl-8.col-sm-8.col-12
                              h6.training-item__title.t-size-18 «Повышение квалификации»
                              ul.training-item__list
                                li.training-item__item Организатор: 
                                  strong TOPGUN
                                li.training-item__item Адрес проведения: м. Беляево, улица Миклухо-Маклая, 40к1
                                li.training-item__item Время проведения: 
                                  strong 14:00 - 18:00
                              .training-item__buttons
                                .row
                                  .col-xl-6.col-sm-12
                                    a(href="#").button.button_style4.small
                                      | Записаться
                                  .col-xl-6.col-sm-12
                                    a(href="").button.button_style1.small.toggle-button(data-hide-text='Скрыть' data-show-text='Подробее')
                                      | Подробнее
                        .training-item__more.toggle-content.col-xl-12
                          .row
                            .col-xl-8.col-12
                              span.training-item__more-title.t-size-16 Ведущий:
                              .row.row_compact
                                .col-xl-4
                                  .cover-box
                                    img(data-src="img/gallery/barber1.jpg", alt="").lazy
                                .col-xl-8
                                  p Мастер международного класса, автор методик бла, бла, бла.
                                  p Сергей Иванович Перк (Батяня)
                            .col-xl-4.col-12
                              span.training-item__more-title.t-size-16 Мастера:
                              .row
                                .col-xl-12
                                  .row.row_compact
                                    .col-xl-6.col-4
                                      .cover-box
                                        img(data-src="img/gallery/barber2.jpg", alt="").lazy
                                    .col-xl-6.col-8
                                      p “Витёк”
                                .col-xl-12
                                  .row.row_compact
                                    .col-xl-6.col-4
                                      .cover-box
                                        img(data-src="img/gallery/barber2.jpg", alt="").lazy
                                    .col-xl-6.col-8
                                      p “Кейс”
                  .training-item.col-xl-6.col-md-12
                    .training-item__container.toggle-group
                      .row
                        .col-xl-12
                          .row
                            .training-item__image.col-xl-4.col-sm-4.col-12
                              .cover-box
                                img(data-src="img/gallery/news.jpg", alt="").lazy
                            .training-item__content.col-xl-8.col-sm-8.col-12
                              h6.training-item__title.t-size-18 «Повышение квалификации»
                              ul.training-item__list
                                li.training-item__item Организатор: 
                                  strong TOPGUN
                                li.training-item__item Адрес проведения: м. Беляево, улица Миклухо-Маклая, 40к1
                                li.training-item__item Время проведения: 
                                  strong 14:00 - 18:00
                              .training-item__buttons
                                .row
                                  .col-xl-6.col-sm-12
                                    a(href="#").button.button_style4.small
                                      | Записаться
                                  .col-xl-6.col-sm-12
                                    a(href="").button.button_style1.small.toggle-button(data-hide-text='Скрыть' data-show-text='Подробее')
                                      | Подробнее
                        .training-item__more.toggle-content.col-xl-12
                          .row
                            .col-xl-8.col-12
                              span.training-item__more-title.t-size-16 Ведущий:
                              .row.row_compact
                                .col-xl-4
                                  .cover-box
                                    img(data-src="img/gallery/barber1.jpg", alt="").lazy
                                .col-xl-8
                                  p Мастер международного класса, автор методик бла, бла, бла.
                                  p Сергей Иванович Перк (Батяня)
                            .col-xl-4.col-12
                              span.training-item__more-title.t-size-16 Мастера:
                              .row
                                .col-xl-12
                                  .row.row_compact
                                    .col-xl-6.col-4
                                      .cover-box
                                        img(data-src="img/gallery/barber2.jpg", alt="").lazy
                                    .col-xl-6.col-8
                                      p “Витёк”
                                .col-xl-12
                                  .row.row_compact
                                    .col-xl-6.col-4
                                      .cover-box
                                        img(data-src="img/gallery/barber2.jpg", alt="").lazy
                                    .col-xl-6.col-8
                                      p “Кейс”

            include blocks/banner2
            include blocks/news-module
            //footer
        include blocks/footer
        //other
        include blocks/popup
        include blocks/fixed
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")