doctype html
html(lang="ru")
  head
    include blocks/head
  body
    .background.lazy(data-src='img/backgrounds/background.jpg')
    .wrapper
      .page
        main.main
          .container
            .widget-item
              .d-line.mb-10
              a(href="https://mybarbershop.ru/").widget-item__logo.mb-10
                img(src="img/logos/logo.svg" alt="logo")
              .d-line.mb-10
              .mb-10
                p.widget-item__text Записаться в барбершоп «APACHES»<br> ул. Сущёвский Вал, 22, через:
              .mb-15
                .row.row_medium.row_center
                  .col-xl-auto
                    a(href="#").widget-item-link
                      img(src="img/icons/yclients.jpg", alt="icon")
                  .col-xl-auto
                    a(href="#").widget-item-link
                      img(src="img/icons/whatsup.svg", alt="icon")
                  .col-xl-auto
                    a(href="#").widget-item-link
                      img(src="img/icons/viber.svg", alt="icon")
                  .col-xl-auto
                    a(href="#").widget-item-link
                      img(src="img/icons/telegram.svg", alt="icon")
                  .col-xl-auto
                    a(href="#").widget-item-link
                      img(src="img/icons/vk.svg", alt="icon")
                  .col-xl-auto
                    a(href="#").widget-item-link
                      img(src="img/icons/facebook.svg", alt="icon")
                  .col-xl-auto
                    a(href="#").widget-item-link
                      img(src="img/icons/instagram.svg", alt="icon")
                  .col-xl-auto
                    a(href="#").widget-item-link.widget-item-link_ynavigator
                      img(src="img/icons/ynavigator.svg", alt="icon")
              .mb-15.t-a-center
                a(href="https://mybarbershop.ru/").s404__link.link.t-size-24.c-main MYBARBERSHOP
              a(href="#").widget-item__bbsh.mb-15
                img(src="img/logos/topgun.png" alt="logo")
              .d-line
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")