doctype html
html(lang="ru")
  head
    include blocks/head
  body
    body
    .background.lazy(data-src='img/backgrounds/background.jpg')
    .wrapper
      .page
        include blocks/header
        .page__container
          main.main
            //окошко
            section.section
              .map-window.map-window_type2
                .map-window__body
                  span.map-window__title TOPGUN Рижская
                  p.map-window__text Россия, Москва, проспект Мира, 75с1
                  p.map-window__text
                    strong АДМИНИСТРАТОРЫ
                    |  - 1 вакансии
                .map-window__buttons
                  a.map-window__link(href='/barbershops/moskva/topgun_1290/') подробнее
                  a.map-window__link.modal-link(data-fancybox='', data-src='#resume', data-bbsh='1290', data-types='resume', data-vak1='0', data-vak2='1', data-vak3='0', data-vak4='0', href='javascript:;') отправить резюме

            //footer
        include blocks/footer
        //other
        include blocks/popup
        include blocks/fixed
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")