doctype html
html(lang="ru")
  head
    include blocks/head
  body
    .background.lazy(data-src='img/backgrounds/background.jpg')
    .wrapper
      .page
        include blocks/header
        .page__container
          main.main
            include blocks/banner1
            +banner()(data-src="img/banner/moe-mesto.jpg")
            section.section
              .section__head
                .decorated
                  span.decoration
                  h1.section__head-title Сейчас требуются
                  span.decoration
              form(action="").form.mb-30
                .form__section
                  .container
                    .row.row_center
                      .form__item.col-xl-3.col-sm-4.col-6
                        label.checkbox.work-block-item
                          input(type="checkbox").input
                          .work-block-item__content
                            span.work-block-item__title Барбер
                            img(src="img/icons/ico-haircut.svg", alt="")
                          .decorative-line
                          .work-block-item__content
                            .work-block-item__count(style='background-image:url("../img/backgrounds/brand-background.png")')
                              span 234
                              span вакансий
                      .form__item.col-xl-3.col-sm-4.col-6
                        label.checkbox.work-block-item
                          input(type="checkbox").input
                          .work-block-item__content
                            span.work-block-item__title Админитратор
                            img(src="img/icons/ico-list.svg", alt="")
                          .decorative-line
                          .work-block-item__content
                            .work-block-item__count(style='background-image:url("../img/backgrounds/brand-background.png")')
                              span 234
                              span вакансий
                      .form__item.col-xl-3.col-sm-4.col-6
                        label.checkbox.work-block-item
                          input(type="checkbox").input
                          .work-block-item__content
                            span.work-block-item__title Управляющий
                            img(src="img/icons/ico-graphic.svg", alt="")
                          .decorative-line
                          .work-block-item__content
                            .work-block-item__count(style='background-image:url("../img/backgrounds/brand-background.png")')
                              span 234
                              span вакансий
                      .form__item.col-xl-3.col-sm-4.col-6
                        label.checkbox.work-block-item
                          input(type="checkbox").input
                          .work-block-item__content
                            span.work-block-item__title Прочий персонал
                            img(src="img/icons/girl.svg", alt="")
                          .decorative-line
                          .work-block-item__content
                            .work-block-item__count(style='background-image:url("../img/backgrounds/brand-background.png")')
                              span 234
                              span вакансий
                .form__section
                  .container
                    .row
                      .form__item.col-xl-12
                        .search
                          input(type="text" placeholder="Город / метро Арбатская / улица Арбат / Выбрать сеть / мастер и тд. ..." required).input.input_style1.search__input
                          button.search__button
                            i.fas.fa-search
                      .form__item.col-xl-12
                        span.searched-label.t-size-24 всего найдено: <strong>30</strong> мест
              .mb-30
                include blocks/map
              .container.mb-30
                .row
                  .my-vacancy-block.col-xl-12
                    .my-vacancy-block__container.toggle-group
                      .row
                        .my-vacancy-block__section.col-xl-12
                          .row.row_ai-c
                            .my-vacancy-block__logo.col-xl-auto
                              .cover-box.cover-box_contain
                                img.lazy(data-src='img/logos/topgun.png' alt="")
                            .my-vacancy-block__lvl.col-xl-auto
                              //svg.icon
                                use(xlink:href="img/icons/barbers-sprite.svg#topbarber")
                              //svg.icon
                                use(xlink:href="img/icons/barbers-sprite.svg#barber")
                              //svg.icon
                                use(xlink:href="img/icons/barbers-sprite.svg#beginner")
                              svg.icon
                                use(xlink:href="img/icons/barbers-sprite.svg#girl")
                            .col-xl
                              span.my-vacancy-block__title Салону Топган требуется Барбер профессионал.
                              span.my-vacancy-block__wage Зарплата от 50 000 руб.
                        .my-vacancy-block__section.col-xl-6.col-sm-12
                          span.my-vacancy-block__section-title Требования:
                          .row
                            .my-vacancy-block__item.col-xl-auto
                              span.item-label Знание языка:
                              .row.row_compact
                                .col-xl-auto
                                  label.checkbox.view-only
                                    i.fas.fa-check
                                    span Русский
                                .col-xl-auto
                                  label.checkbox.view-only
                                    i.fas.fa-check
                                    span Английский
                            .my-vacancy-block__item.col-xl-auto
                              span.item-label Пол:
                              span Мужчина/Женщина
                            .my-vacancy-block__item.col-xl-auto
                              span.item-label Опыт работы:
                              span от 4 лет
                        .my-vacancy-block__section.col-xl-6.col-sm-12
                          span.my-vacancy-block__section-title Дополнительная информация:
                          .row
                            .my-vacancy-block__item.col-xl-auto
                              span.item-label Город:
                              span Москва
                            .my-vacancy-block__item.col-xl-auto
                              span.item-label Адрес:
                              span Москва, Проспект Вернадского, д. 77, корп. 5
                            .my-vacancy-block__item.col-xl-auto
                              span.item-label Время работы:
                              span с 12:30 до 21:00
                            //.my-vacancy-block__item.col-xl-12
                              span.item-label Описание вакансии:
                              .text-container
                                .text-parent
                                  .text-content
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                .js-text-more
                                  a(href="javascript:void(0)" data-show-text='Развернуть описание' data-hide-text='Свернуть описание').link.link_type2 Развернуть описание
                        .my-vacancy-block__section.col-xl-12.toggle-content
                          p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
                        .my-vacancy-block__buttons.col-xl-12
                          .row
                            .col-xl-4.col-sm-12
                              button.button.button_style1.small.toggle-button(data-hide-text='Скрыть описание вакансии' data-show-text='Показать описание вакансии') Показать описание вакансии
                            .col-xl-4.col-sm-12
                              button.button.button_style4.small
                                | Откликнуться

            include blocks/banner2
            include blocks/news-module
        //footer
        include blocks/footer
        //other
        include blocks/popup
        include blocks/fixed
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")