section.section
  .section__head
    .decorated
      span.decoration
      h5.section__head-title Коды и счетчики
      span.decoration
  .container
    form(action="").form
      .form__section.tab-block.row
        .tab-block__head.col-xl-12
          ul.tab-block__list.row
            li.tab-block__item.col-xl-auto
              a(href="#").button.button_style10.small метрика
            li.tab-block__item.col-xl-auto
              a(href="#").button.button_style10.small Гугл аналитика
            li.tab-block__item.col-xl-auto
              a(href="#").button.button_style10.small Гугл тег менеджер
            li.tab-block__item.col-xl-auto
              a(href="#").button.button_style10.small Фб пиксель 
            li.tab-block__item.col-xl-auto
              a(href="#").button.button_style10.small Прочие теги
        .tab-block__tabs.col-xl-12
          .tab-block__tab
            .row
              .form__group.col-xl-6
                .row
                  .form__item.col-xl-12
                    span.item-label Код:
                    textarea.input.input_style4.input_size3
                  .form__item.col-xl-6.col-12
                    button.button.button_style9.small Удалить
          .tab-block__tab
            .row
              .form__group.col-xl-6
                .row
                  .form__item.col-xl-12
                    span.item-label Код:
                    textarea.input.input_style4.input_size3
                  .form__item.col-xl-6.col-12
                    button.button.button_style9.small Удалить
              .form__group.col-xl-6
                .row
                  .form__item.col-xl-12
                    span.item-label Код:
                    textarea.input.input_style4.input_size3
                  .form__item.col-xl-6.col-12
                    button.button.button_style9.small Удалить
          .tab-block__tab
            .row
              .form__group.col-xl-6
                .row
                  .form__item.col-xl-12
                    span.item-label Код:
                    textarea.input.input_style4.input_size3
                  .form__item.col-xl-6.col-12
                    button.button.button_style9.small Удалить
          .tab-block__tab
            .row
              .form__group.col-xl-6
                .row
                  .form__item.col-xl-12
                    span.item-label Код:
                    textarea.input.input_style4.input_size3
                  .form__item.col-xl-6.col-12
                    button.button.button_style9.small Удалить
          .tab-block__tab
            .row
              .form__group.col-xl-6
                .row
                  .form__item.col-xl-12
                    span.item-label Код:
                    textarea.input.input_style4.input_size3
                  .form__item.col-xl-6.col-12
                    button.button.button_style9.small Удалить
      .form__section.row
        .form__item.col-xl-4.col-sm-6.col-12
          button.button.button_style7
            i.fas.fa-plus
            | Добавить еще
        .form__item.col-xl-4.col-sm-6.col-12
          button.button.button_style1 Сохранить
        