.awards
  .block-head
    .block-head__container
      span.main-decoration
      span.block-head__title.block-head__title_stars мои награды
      span.main-decoration
  .awards__container
    .container
      .slider.slider_arrows.awards__slider.gallery
        .awards-slide.gallery__item
          a(href="img/gallery/award1.jpg").awards-slide__container
            img(data-lazy="img/gallery/award1.jpg", alt="")
        .awards-slide.gallery__item
          a(href="img/gallery/award2.jpg").awards-slide__container
            img(data-lazy="img/gallery/award2.jpg", alt="")
        .awards-slide.gallery__item
          a(href="img/gallery/award3.png").awards-slide__container
            img(data-lazy="img/gallery/award3.png", alt="")
        .awards-slide.gallery__item
          a(href="img/gallery/award4.jpg").awards-slide__container
            img(data-lazy="img/gallery/award4.jpg", alt="")
        .awards-slide.gallery__item
          a(href="img/gallery/award5.jpg").awards-slide__container
            img(data-lazy="img/gallery/award5.jpg", alt="")
