.awards
  .block-head
    .decorated
      span.decoration
      span.block-head__title.block-head__title_stars мои награды
      span.decoration
  .awards__container
    .container
      .slider.slider_arrows.awards__slider.gallery
        .awards-slide.gallery__item
          a(href="img/gallery/award1.jpg" title='описание').awards-slide__container.tooltip
            img(data-lazy="img/gallery/award1.jpg", alt="")
        .awards-slide.gallery__item
          a(href="img/gallery/award2.jpg" title='описание').awards-slide__container.tooltip
            img(data-lazy="img/gallery/award2.jpg", alt="")
        .awards-slide.gallery__item
          a(href="img/gallery/award3.png" title='описание').awards-slide__container.tooltip
            img(data-lazy="img/gallery/award3.png", alt="")
        .awards-slide.gallery__item
          a(href="img/gallery/award4.jpg" title='описание').awards-slide__container.tooltip
            img(data-lazy="img/gallery/award4.jpg", alt="")
        .awards-slide.gallery__item
          a(href="img/gallery/award5.jpg" title='описание').awards-slide__container.tooltip
            img(data-lazy="img/gallery/award5.jpg", alt="")
