mixin slide()
  .slide.banner-slide
    a(href="#").banner-slide__background.cover-box
      img(alt="").lazy.banner-slide__image&attributes(attributes)
      
.banner.banner_type2
  .banner__container
    .container
      .slider.slider_dots.banner__slider
        +slide()(data-src="img/первый.jpg")
        +slide()(data-src="img/карта.jpg")
        +slide()(data-src="img/новый год.jpg")
        +slide()(data-src="img/платформа.jpg")
        +slide()(data-src="img/поток.jpg")
        +slide()(data-src="img/работа.jpg")
        +slide()(data-src="img/школы.jpg")