mixin slide()
  .slide.banner-slide.banner-slide_style2
    a(href="#").banner-slide__background
      img(src="img/banner/banner-image2.jpg", alt="").banner-slide__image
.banner.banner_style2.pd-4
  .banner__container
    .container
      .slider.slider_arrows.banner__slider
        +slide()
        +slide()
        +slide()
        +slide()
        +slide()