mixin slide()
  .slide.banner-slide.banner-slide_style2
    a(href="#").banner-slide__background
      img(src="img/banner/banner-image4.jpg", alt="").banner-slide__image
.banner.banner_style2
  .banner__container.banner__container_white
    .container
      .slider.slider_arrows.banner__slider
        +slide()