.banner.banner_type1
  include myplace
  .banner__container
    .slider.slider_dots.banner__slider
      a(href="javascript:;" data-fancybox data-src="#registration").slide.banner-slide
        .banner-slide__background.cover-box(data-filter)
          img(data-src="img/banner/banner-image1.jpg" alt="#").lazy
        .banner-slide__container
          .container
            .banner-slide__title ЗарЕГИСТРИРУйся
            .banner-slide__sub-title и получи больше возможностей...
      .slide.banner-slide
        .banner-slide__background.cover-box(data-filter)
          img(data-src="img/banner/banner-salon.jpg" alt="#").lazy
        .banner-slide__container
            .container
              .banner-slide__title заголовок
              .banner-slide__sub-title описание к заголовку, или текст
      