mixin banner()
  .banner.banner_bg
    .banner__background.lazy(data-src='img/backgrounds/back-banner.jpg')
    .container
      .banner__container
        .banner-slide.banner-slide_style1
          .banner-slide__background.lazy&attributes(attributes)
        