mixin slide()
  .slide.banner-slide
    a(href="#").banner-slide__background.cover-box
      img(alt="").lazy.banner-slide__image&attributes(attributes)
      
.banner.banner_type2
  .banner__container
    .container
      .slider.slider_dots.banner__slider
        +slide()(data-src="https://mybarbershop.ru/upload/iblock/9d4/9d499e55fa6e32f3358b123e5971db7f.jpg")
        +slide()(data-src="https://mybarbershop.ru/upload/iblock/9d4/9d499e55fa6e32f3358b123e5971db7f.jpg")
        +slide()(data-src="https://mybarbershop.ru/upload/iblock/9d4/9d499e55fa6e32f3358b123e5971db7f.jpg")