mixin banner()
  .banner.banner_type1
    .banner__container
      .slider.slider_dots.banner__slider
        .slide.banner-slide
          .banner-slide__background.lazy&attributes(attributes)
          block
        .slide.banner-slide
          .banner-slide__background.lazy&attributes(attributes)
          block
        