mixin slide()
  .slide.banner-slide.banner-slide_style2
    a(href="#").banner-slide__background.cover-box
      img(src="img/banner/banner-image2.jpg", alt="").banner-slide__image
.banner.banner_style2.banner_top
  .banner__container.banner__container_white
    .container
      .slider.slider_arrows.banner__slider
        +slide()
        +slide()
        +slide()
        +slide()
        +slide()