mixin slide()
  .slide.banner-slide
    a(href="#").banner-slide__background.cover-box
      img(alt="").lazy.banner-slide__image&attributes(attributes)

.banner.banner_type2
  .banner__container.container
    .banner__slider.slider.slider_dots.js-autoslide
      +slide()(data-src="img/первый.jpg")
      +slide()(data-src="img/карта.jpg")
      +slide()(data-src="img/новый год.jpg")
      +slide()(data-src="img/платформа.jpg")
      +slide()(data-src="img/поток.jpg")
      +slide()(data-src="img/работа.jpg")
      +slide()(data-src="img/школы.jpg")