mixin slide()
  .slide.banner-slide.banner-slide_style1
    .banner-slide__background.cover-box
      img(src="img/banner/banner-image3.jpg", alt="").banner-slide__image
    .banner-slide__container
      .container
.banner
  .banner__container
    .slider.slider_dots.banner__slider
      +slide()
      +slide()
      +slide()
      +slide()