mixin slide()
  .slide.banner-slide.banner-slide_style3
    .banner-slide__background.cover-box
      img(src="img/banner/banner-image3.jpg", alt="").banner-slide__image
    .salon
.banner.banner_style3
  .banner__container
    .container
      .slider.slider_arrows.slider_dots.banner__slider
        +slide()
        +slide()
        +slide()
        +slide()
        +slide()
      .salon-info
        .salon-info__container
          .salon-info__block.salon-info__block_logo
            .salon-info__logo
              img(src="img/logos/britva.jpg", alt="")
          .salon-info__block.salon-info__block_adress
            .salon-info__block-section
              .salon-info__adress
                i.fas.fa-map-marker-alt
                span Москва, Округ ЮЗАО, Район Ясенево, Новоясеневский проспект, 9
            .salon-info__block-section
              a(href="#").button.button_style1 вся сеть
          .salon-info__block.salon-info__block_time
            .salon-info__block-section
              .salon-info__time
                span.salon-info__time-title Время работы: ежедневно:
                span.salon-info__time-value 11:00 - 22:00
            .salon-info__block-section
              a(href="#").button.button_style2 записаться онлайн
          .salon-info__block.salon-info__block_contacts
            .salon-info__block-section
              ul.salon-info__contacts-list
                li.salon-info__contacts-item
                  a(href="tel:74994505744").salon-info__contacts-link +7 (499) 450-57-44
                li.salon-info__contacts-item
                  a(href="#").salon-info__contacts-link britvabarber.ru
            .salon-info__block-section
              .socials
                ul.socials__list
                  li.socials__item
                    a(href="#").socials__link
                      i.fab.fa-facebook-f
                  li.socials__item
                    a(href="#").socials__link
                      i.fab.fa-vk
                  li.socials__item
                    a(href="#").socials__link
                      i.fab.fa-instagram
                  li.socials__item
                    a(href="#").socials__link
                      i.fab.fa-odnoklassniki
                  li.socials__item
                    a(href="#").socials__link
                      i.fab.fa-youtube
        
      