mixin item()
  .baraholka-item.col-xl-12.toggle-group
    .baraholka-item__container
      .row
        .col-xl-12
          .row
            .baraholka-item__content.col-xl-12
              .row
                .baraholka-item__info.col-xl-12
                  .row
                    .col-xl.col-sm-12
                      h1.baraholka-item__title.t-size-24 Кресло мужское Барбер мд-8779
                      span.baraholka-item__text Мебель | Москва, м. Отрадное
                    .col-xl-auto
                      span.baraholka-item__price.t-size-36.f-w-b 79 990 р.
                .baraholka-item__buttons.col-xl-12
                  .row
                    .col-xl-12
                      .row.row_flex-end
                        .col-xl-auto.col-12
                          a(href="tel:79258008080" data-number='+7 925 000-00-00').button.button_style9.small.number-btn Показать тел.: +7 925 xxx-xx-xx
        .col-xl-12
          .row.toggle-group
            .col-xl-6.col-sm-4.col-12
              .slider.baraholka-slider
                .slide.baraholka-slide
                  a(href="img/gallery/barahlo.jpg" data-fancybox='gallery1').cover-box
                    img(data-src="img/gallery/barahlo.jpg", alt="").lazy
                .slide.baraholka-slide
                  a(href="img/gallery/barahlo.jpg" data-fancybox='gallery1').cover-box
                    img(data-src="img/gallery/barahlo.jpg", alt="").lazy
                .slide.baraholka-slide
                  a(href="img/gallery/barahlo.jpg" data-fancybox='gallery1').cover-box
                    img(data-src="img/gallery/barahlo.jpg", alt="").lazy
                .slide.baraholka-slide
                  a(href="img/gallery/barahlo.jpg" data-fancybox='gallery1').cover-box
                    img(data-src="img/gallery/barahlo.jpg", alt="").lazy
            .col-xl-6.col-sm-8.col-12
              .baraholka-slider-nav.mb-20
                .row  
                  .baraholka-slider-nav__item.col-xl-3
                    a(href="img/gallery/barahlo.jpg").cover-box.active
                      img(data-src="img/gallery/barahlo.jpg", alt="").lazy
                  .baraholka-slider-nav__item.col-xl-3
                    a(href="img/gallery/barahlo.jpg").cover-box
                      img(data-src="img/gallery/barahlo.jpg", alt="").lazy
                  .baraholka-slider-nav__item.col-xl-3
                    a(href="img/gallery/barahlo.jpg").cover-box
                      img(data-src="img/gallery/barahlo.jpg", alt="").lazy
                  .baraholka-slider-nav__item.col-xl-3
                    a(href="img/gallery/barahlo.jpg").cover-box
                      img(data-src="img/gallery/barahlo.jpg", alt="").lazy
              .baraholka-item__description.mb-20
                p Продаётся парикмахерское кресло в идеальном состоянии. Кресло барбера для визажа. Производитель Германия.<br>Фирма welonda.<br>Модель мд - 8777.<br>Цена у официального представителя составляет 1500 евро. Продаю за 69.990 руб.(без торга) Возможна доставка по всей России
              .baraholka-item__b-info
                .row
                  .col-xl
                    span.c-gray Размещено 07.08.2019 в 21:30
                  .col-xl-auto
                    span.view-counter 
                      i.far.fa-eye
                      | 100
              .baraholka-item__b-info
                span.c-gray 47 объявлений пользователя
              .baraholka-item__b-info.mb-20
                span.c-gray Контактное лицо: 
                  strong Макс
                span.c-gray Частное лицо на БАРАХОЛКЕ с 03. 2010
              .row
                .col-xl-12
                  a(href="javascript:void(0)" data-src="#email").button.button_style1.small.modal-link
                    | Сообщить о снижении цены
                .col-xl-6.col-12
                  a(href="javascript:;" data-src="#complaint").button.button_style9.small.modal-link Пожаловаться
                .col-xl-6.col-12
                  a(href="#").button.button_style1.small.toggle-button(data-hide-text='Свернуть карту' data-show-text='Показать на карте') Показать на карте
            .col-xl-12.toggle-content
              .map
                .map__container
            