.barber-info
  .container
    .barber-info__container
      .barber-info__section.barber-info__section_left
        .barber-info__row
          img(src="img/photo.jpg", alt="").barber-info__photo
        .barber-info__row
          span.barber-info__name Александ Иванов
          .barber-info__experience
            span.barber-info__experience-item <span>32</span> возраст
            span.barber-info__experience-item <span>5</span> стаж
        .barber-info__row
          .number-block
            button.number-block__show-btn
            .number-block__title Показать телефон
            a(href="tel:79258008080").number-block__number +7 925 
              span xxx-xx-xx
          .socials.socials_style2
            ul.socials__list
              li.socials__item
                a(href="#").socials__link
                  i.fab.fa-facebook-f
              li.socials__item
                a(href="#").socials__link
                  i.fab.fa-vk
              li.socials__item
                a(href="#").socials__link
                  i.fab.fa-instagram
              li.socials__item
                a(href="#").socials__link
                  i.fab.fa-odnoklassniki
              li.socials__item
                a(href="#").socials__link
                  i.fab.fa-youtube
        .barber-info__row
          .barber-info__salon
            .barber-info__salon-logo
              img(src="img/logos/britva.jpg", alt="")
            .barber-info__salon-info
              .barber-info__salon-title BRITVA / Moscow
              .barber-info__salon-adress 2-я Рощинская ул., 1А
        .barber-info__row
          .share
            span.main-decoration.main-decoration_left
            a(href="#").share-trigger поделиться
            span.main-decoration.main-decoration_right
      .barber-info__section