.barbershop-info
  .container.container_style3.barbershop-info__item
    p <strong><b>TOPGUN</b></strong> самая крупная сеть российских барбешопов с множеством филиалов. Это не просто ссеть, а сообщество представителей сильного пола, неравнодушных к своему внешнему виду, а также ценящих хороший сервис и серьезное отношение. Здесь вас ждет концептуальный интерьер, в меру расслабленная и спокойная атмосфера, персональный, творческий подход со стороны команды.
  .container.container_style3.barbershop-info__item
    .barbershop-info__main-info.decorated
      span.decoration
      .row
        .barbershop-info-block
          .barbershop-info-block__container
            .barbershop-info-block__content
              span 33
              span города
        .barbershop-info-block
          .barbershop-info-block__container
            .barbershop-info-block__content
              span 3275
              span салонов
        .barbershop-info-block
          .barbershop-info-block__container
            .barbershop-info-block__content
              span 2100<strong>7</strong>
              span барберов
      span.decoration
  .container.container_style2
    .barbershop-info__video
      iframe.lazy(data-src="https://www.youtube.com/embed/Zwa-jK5WUdA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
  .block-head
    .decorated
      span.decoration
      span.block-head__title ПеРВЫЙ среди лучших
      span.decoration
  .container.container_style2
    .barbershop-info__row
      .barbershop-info__col
        p <strong>О СЕТИ:</strong> TOPGUN самая крупная сеть российских барбешопов с множеством филиалов. Это не просто ссеть, а сообщество представителей сильного пола, неравнодушных к своему внешнему виду, а также ценящих хороший сервис и серьезное отношение. Здесь вас ждет концептуальный интерьер, в меру расслабленная и спокойная атмосфера, персональный, творческий подход со стороны команды высококлассных мастеров.
      .barbershop-info__col
        p <strong>ФРАНШИЗА:</strong> Каждый из барберов регулярно повышает свой уровень на различных мастер-классах от ведущих мировых специалистов, применяет исключительно лучшие средства и инструменты премиальных брендов, а также обладает не только необходимой квалификацией и богатым опытом, но и тонким вкусом, что в сочетании с чуткостью к запросам клиентов позволяет им удовлетворять пожелания гостей всех возрастов, подчеркивая их индивидуальность и характер. 