mixin slide(name)
  .slide.barbers-slide
    .barbers-slide__container
      .barbers-slide__photo.cover-box
        img(src="img/gallery/barber2.jpg", alt="")
      .barbers-slide__info
        span.barbers-slide__name=name
        ul.barbers-slide__rating-list
          li.barbers-slide__rating-item
            i.fas.fa-star
          li.barbers-slide__rating-item
            i.fas.fa-star
          li.barbers-slide__rating-item
            i.fas.fa-star
          li.barbers-slide__rating-item
            i.fas.fa-star
          li.barbers-slide__rating-item
            i.fas.fa-star
        a(href="#").button.button_style3.barbers-slide__button записаться онлайн
.barbers
  .barbers__background.background.lazy(data-src='img/backgrounds/bg_gallery.png')
  .block-head
    span.block-head__decoration.block-head__decoration_left
    span.block-head__title.block-head__title_icons барберы
    span.block-head__decoration.block-head__decoration_right
  .container
    .barbers__container
      .slider.slider_arrows.barbers__slider
        +slide('Эдуард')
        +slide('Макс')
        +slide('Маккейн')
        +slide('Лина')