.barber-info
  .container
    .barber-info__container
      .barber-info__section.barber-info__section_left
        .barber-info__top-content
          .barber-info__image
            img(src="img/photo.jpg", alt="").barber-info__photo
          .barber-info__content
            .barber-info__row
              .barber-info__item
                span.barber-info__name Александ Иванов
              .barber-info__item
                .barber-info__experience
                  span.barber-info__experience-item <span>32</span> возраст
                  span.barber-info__experience-item <span>5</span> стаж
            .barber-info__row
              .barber-info__item
                .number-block
                  button.number-block__show-btn
                  .number-block__title Показать телефон
                  a(href="tel:79258008080").number-block__number +7 925 
                    span xxx-xx-xx
              .barber-info__item
                .socials.socials_style2
                  ul.socials__list
                    li.socials__item
                      a(href="#").socials__link
                        i.fab.fa-facebook-f
                    li.socials__item
                      a(href="#").socials__link
                        i.fab.fa-vk
                    li.socials__item
                      a(href="#").socials__link
                        i.fab.fa-instagram
                    li.socials__item
                      a(href="#").socials__link
                        i.fab.fa-odnoklassniki
                    li.socials__item
                      a(href="#").socials__link
                        i.fab.fa-youtube
        .barber-info__bottom-content
          .barber-info__salon
            .barber-info__salon-logo
              img(src="img/logos/britva.jpg", alt="")
            .barber-info__salon-info
              .barber-info__salon-title BRITVA / Moscow
              .barber-info__salon-adress 2-я Рощинская ул., 1А
          .share
            span.main-decoration.main-decoration_left
            a(href="#").share-trigger поделиться
            span.main-decoration.main-decoration_right
      .barber-info__section.barber-info__section_right
        p.barber-info__text
          b О СЕБЕ: 
          span В профессию я пришел неожиданно. Ждал своей очереди в парикмахерской и заметил, как выходящие клиенты тепло благодарили своих мастеров. Это меня и зацепило. До этого я работал в коммерции, но со временем понял, что офисная жизнь занимает много времени и монотонна — вот и сбежал. Кроме того, я активный судья барбер и барбершоп-баттлов. Продвигаю культуру по всей стране. Сегодня я счастлив, свободен и точно на своем месте.
        p.barber-info__text
          b КЛИЕНТЫ: 
          span У меня своя сложившаяся аудитория. В основном это преуспевающие мужчины 30–45 лет. Для меня важно устанавливать эмоциональный контакт с людьми, которые ко мне ходят. Просто безучастно стричь людей на автомате я не могу.
        p.barber-info__text
          b МОЙ ОПЫТ: 
          span Я работал: брею опасной бритвой, делаю моделирование бороды и усов. Убежден, что без использования опасной бритвы грамотно оформить бороду невозможно.
        .barber-info__presentation
          .barber-info__presentation-head
            span.main-decoration.main-decoration_left
            span.barber-info__presentation-title видео презентация
            span.main-decoration.main-decoration_left
          .barber-info__presentation-video
            .video-block
              a(href="https://www.youtube.com/watch?v=BgK_Er7WZVg").popup-link
                img(data-src="img/backgrounds/video-bg.jpg", alt="").lazy