mixin slide(name)
  .slide.barbers-slide
    .barbers-slide__container
      .barbers-slide__photo.cover-box
        img(data-src="img/gallery/barber2.jpg", alt="").lazy
      .barbers-slide__content
        .barbers-slide__title.t-size-24
          span.barbers-slide__name=name
          img(src="img/icons/ico-topbarber.png", alt="")
        a(href="#").button.button_style1 Записаться онлайн

section.section
  .section__head
    .decorated
      span.decoration
      h1.section__head-title.section__head-title_icons Барберы
      span.decoration
  .container
    .barbers__container
      .slider.slider_arrows.slider_default.barbers-slider
        +slide('Эдуард')
        +slide('Эдуард')
        +slide('Эдуард')
        +slide('Эдуард')