section.experience
  .block-head
    .block-head__container
      span.main-decoration
      span.block-head__title Мой опыт
      span.main-decoration
  .container
    .experience__container
      p «Я начал свою профессиональную карьеру в салоне «TOPGUN» в славном городе Сыктывкар. Моими наставниками были великие мировые мастера. Убежден, что без использования опасной бритвы ».
      ul
        li «TOPGUN»<br> Сыктывкар,<br> 2014-2015<br> ул. Мира, 100
        li «БОРОДА»<br> 2015-2016<br> Санкт-Петербург,<br> Невский пр-т, 37
        li «БРИТВА»<br> 2016-____<br> Москва,<br> Новоясеневский пр-т, 9