.service-filter
  .service-filter__container
    form.service-filter-form
      .container
        .service-filter-form__section.service-filter-form__section_search
          .search
            input(type="text" placeholder="Город / метро Арбатская / улица Арбат / Выбрать сеть / мастер и тд. ..." required).input.input_style1.search__input
            button.search__button
              i.fas.fa-search
        .service-filter-form__section.service-filter-form__section_filter
          .service-filter-form__container
            .service-filter-form__title Режим работы:
            .service-filter-form__content
              .service-filter-value
                label.checkbox.label
                  .service-filter-value__title с утра
                  img.icon(src="img/icons/sun.svg", alt="icon")
                  input(type="checkbox")
              .service-filter-value
                label.checkbox.label
                  .service-filter-value__title до поздна
                  img.icon(src="img/icons/night.svg", alt="icon")
                  input(type="checkbox")
              .service-filter-value
                label.checkbox.label
                  .service-filter-value__title круглосуточно
                  img.icon(src="img/icons/24.svg", alt="icon")
                  input(type="checkbox")
          span.service-filter-form__decoration
          .service-filter-form__container
            .service-filter-form__title Стоимость услуг:
            .service-filter-form__content
              .service-filter-value
                label.checkbox(title='от 100 до 550р').label.tooltip
                  img.icon(src="img/icons/лицо золото.svg", alt="icon")
                  .service-filter-value__title Premium
                  input(type="checkbox")
              .service-filter-value
                label.checkbox(title='от 550 до 1000р').label.tooltip
                  img.icon(src="img/icons/лицо бронза.svg", alt="icon")
                  .service-filter-value__title Standard
                  input(type="checkbox")
              .service-filter-value
                label.checkbox(title='от 1000р').label.tooltip
                  img.icon(src="img/icons/лицо серебро.svg", alt="icon")
                  .service-filter-value__title Economy
                  input(type="checkbox")
    .mb-20.container
      .row.row_center
        .col-xl-auto.col-12
          a(href="#").button.button_style4.small
            i.fas.fa-location-arrow
            | Ближайший барбершоп
    include map


  