#windowCity.popup-window
  span.popup-window__triangle
  .popup-window__head
     input(type="text" placeholder='Поиск по городу').input.input_style1
  .popup-window__container
    .popup-window__content.scroll-area
      ul.popup-window__list
        li.popup-window__item
          a(href="#").popup-window__link Москва
        li.popup-window__item
          a(href="#").popup-window__link Санкт-Петербург
        li.popup-window__item
          a(href="#").popup-window__link Екатеринбург
        li.popup-window__item
          a(href="#").popup-window__link Нижний Новгород
        li.popup-window__item
          a(href="#").popup-window__link Перьм
        li.popup-window__item
          a(href="#").popup-window__link Новосибирск
        li.popup-window__item
          a(href="#").popup-window__link Уфа
        li.popup-window__item
          a(href="#").popup-window__link Петрозаводск
        li.popup-window__item
          a(href="#").popup-window__link Омск
#windowProfile.popup-window
  span.popup-window__triangle
  .popup-window__container
    .popup-window__content.scroll-area
      ul.popup-window__list
        li.popup-window__item
          a(href="lcv/lcv_dannie.html").popup-window__link Мои данные
        li.popup-window__item
          a(href="lcv/lcv_barbershop.html").popup-window__link Мой Барбершоп
        li.popup-window__item 
          a(href="lcv/lcv_moi-sotrudniki.html").popup-window__link Мои сотрудники
        li.popup-window__item 
          a(href="lcv/lcv_poisk-sotridnikov.html").popup-window__link Поиск сотрудников
        li.popup-window__item
          a(href="lcv/lcv_poisk-modelei.html").popup-window__link Поиск моделей
        //li.popup-window__item
          a(href="lcv/lcv_pomoshniki.html").popup-window__link Помощники
        li.popup-window__item
          a(href="http://assistant.mybarbershop.ru/").popup-window__link Ассистент
        //li.popup-window__item
          a(href="#").popup-window__link Реклама
        //li.popup-window__item
          a(href="#").popup-window__link Соц. Сети
        //li.popup-window__item
          a(href="#").popup-window__link Магазин
        //li.popup-window__item
          a(href="#").popup-window__link Бухгалтерия
        li.popup-window__item
          a(href="#").popup-window__link.popup-window__link_type2 Выход