#windowCity.popup-window
  span.popup-window__triangle
  .popup-window__head
     input(type="text" placeholder='Поиск по городу').input.input_style1
  .popup-window__container
    .popup-window__content.scroll-area
      ul.popup-window__list
        li.popup-window__item
          a(href="#").popup-window__link Москва
        li.popup-window__item
          a(href="#").popup-window__link Санкт-Петербург
        li.popup-window__item
          a(href="#").popup-window__link Екатеринбург
        li.popup-window__item
          a(href="#").popup-window__link Нижний Новгород
        li.popup-window__item
          a(href="#").popup-window__link Перьм
        li.popup-window__item
          a(href="#").popup-window__link Новосибирск
        li.popup-window__item
          a(href="#").popup-window__link Уфа
        li.popup-window__item
          a(href="#").popup-window__link Петрозаводск
        li.popup-window__item
          a(href="#").popup-window__link Омск
#windowProfile.popup-window
  span.popup-window__triangle
  .popup-window__container
    .popup-window__content.scroll-area
      ul.popup-window__list
        li.popup-window__item
          a(href="lcv_dannie.html").popup-window__link Мои данные
        li.popup-window__item
          a(href="lcv_barbershop.html").popup-window__link Мой Барбершоп
        li.popup-window__item 
          a(href="lcv_moi-sotrudniki.html").popup-window__link Мои сотрудники
        li.popup-window__item 
          a(href="lcv_poisk-sotridnikov.html").popup-window__link Поиск сотрудников
        li.popup-window__item
          a(href="lcv_poisk-modelei.html").popup-window__link Поиск моделей
        li.popup-window__item
          a(href="lcv_pomoshniki.html").popup-window__link Помощники
        li.popup-window__item
          a(href="lcv_assistant.html").popup-window__link Ассистент
          ul.popup-window__list
            li.popup-window__sub-item
              a(href="assistant_zvonki.html").popup-window__link Звонки
            li.popup-window__sub-item
              a(href="assistant_balans.html").popup-window__link Баланс
            li.popup-window__sub-item
              a(href="assistant_nastroika.html").popup-window__link Настройка КБ
        li.popup-window__item
          a(href="lcv_events.html").popup-window__link События
        li.popup-window__item
          a(href="#").popup-window__link Магазин
        li.popup-window__item
          a(href="lcv_buh.html").popup-window__link Бухгалтерия
        li.popup-window__item
          a(href="#").popup-window__link.popup-window__link_type2 Выход