a(href="#").forum-link форум
//
.myplace
  a.myplace__link.tooltip.modal(href="javascript:;" data-src="#registration" title='для того чтобы назначить барбершоп по умолчанию ЗАРЕГИСТРИРУЙТЕСЬ!').modal-link
    img(src="img/logos/myplace.png", alt="").myplace__image