footer.footer
  .container
    .footer__container
      .footer__section.footer__section_top
        .footer-nav
          ul.footer-nav__list
            li.footer-nav__item
              a(href="#").footer-nav__link Добавить место
            li.footer-nav__item
              a(href="#").footer-nav__link Добавить специалистов
            li.footer-nav__item
              a(href="#").footer-nav__link Доступ к салону
        .footer-nav
          ul.footer-nav__list
            li.footer-nav__item
              a(href="#").footer-nav__link Правила работы с отзывами
            li.footer-nav__item
              a(href="#").footer-nav__link Политика конфиденциальности
            li.footer-nav__item
              a(href="#").footer-nav__link Обратная связь
        .footer-nav
          ul.footer-nav__list
            li.footer-nav__item
              a(href="#").footer-nav__link О проекте “MyBarbershop”
            li.footer-nav__item
              a(href="#").footer-nav__link Вакансии
            li.footer-nav__item
              a(href="#").footer-nav__link Контакты
      .footer__section.footer__section_bottom
        span.footer__message Увидели ошибку - сообщите нам нажав Ctrl+Enter
        .socials
          ul.socials__list.row.row_compact
            li.socials__item.col-xl-auto
              a(href="#").socials__link
                i.fab.fa-facebook-f
            li.socials__item.col-xl-auto
              a(href="#").socials__link
                i.fab.fa-vk
            li.socials__item.col-xl-auto
              a(href="#").socials__link
                i.fab.fa-instagram
            li.socials__item.col-xl-auto
              a(href="#").socials__link
                i.fab.fa-odnoklassniki
            li.socials__item.col-xl-auto
              a(href="#").socials__link
                i.fab.fa-twitter