mixin photo()
  .gallery-item
    a(href="#").gallery-item__link
      img(src="img/gallery/barber.jpeg", alt="").gallery-item__image
.gallery
  .gallery__background.background.lazy(data-src='img/backgrounds/bg-logos.png')
  .block-head.block-head_background
    .block-head__background.background.lazy(data-src='img/backgrounds/bg-logos.png')
    .block-head__container.decorated
      span.decoration
      span.block-head__title.block-head__title_icons мы рекомендуем
      span.decoration
  .gallery__wrap
    .container
      .gallery__container
        .gallery__row
          .gallery-block.gallery-block_1
            .gallery-block__container
              .gallery-block__content
                .gallery-block__row
                  .gallery-item.gallery-item_1
                    a(href="#").gallery-item__link
                      img(src="img/gallery/barber.jpeg", alt="").gallery-item__image
                  .gallery-item.gallery-item_stub
                  .gallery-item.gallery-item_2
                    a(href="#").gallery-item__link
                      img(src="img/gallery/barber.jpeg", alt="").gallery-item__image
                  .gallery-item.gallery-item_3
                    a(href="#").gallery-item__link
                      img(src="img/gallery/barber.jpeg", alt="").gallery-item__image
          .gallery-block.gallery-block_2
            .gallery-block__container
              .gallery-block__content
                .gallery-block__row
                  .gallery-item.gallery-item_1
                    a(href="#").gallery-item__link
                      img(src="img/gallery/barber.jpeg", alt="").gallery-item__image
                  .gallery-item.gallery-item_stub
                  .gallery-item.gallery-item_2
                    a(href="#").gallery-item__link
                      img(src="img/gallery/barber.jpeg", alt="").gallery-item__image
                  .gallery-item.gallery-item_3
                    a(href="#").gallery-item__link
                      img(src="img/gallery/barber.jpeg", alt="").gallery-item__image
        .gallery__row.gallery__row_center
          .gallery-block.gallery-block_big
            .gallery-block__container
              .gallery-block__content
                .gallery-block__row
                  .gallery-item
                    a(href="#").gallery-item__link
                      img(src="img/gallery/barber-top.jpg", alt="").gallery-item__image
          .gallery-block.gallery-block_title
            .gallery-block__container
              .gallery-block__content.gallery-block__content_title
                img(src="img/gallery/top.jpg", alt="").gallery-block__image
          .gallery-block.gallery-block_big
            .gallery-block__container
              .gallery-block__content
                .gallery-block__row
                  .gallery-item
                    a(href="#").gallery-item__link
                      img(src="img/gallery/barber-top.jpg", alt="").gallery-item__image
        .gallery__row
          .gallery-block.gallery-block_3
            .gallery-block__container
              .gallery-block__content
                .gallery-block__row
                  .gallery-item.gallery-item_1
                    a(href="#").gallery-item__link
                      img(src="img/gallery/barber.jpeg", alt="").gallery-item__image
                  .gallery-item.gallery-item_2
                    a(href="#").gallery-item__link
                      img(src="img/gallery/barber.jpeg", alt="").gallery-item__image
                  .gallery-item.gallery-item_stub
                  .gallery-item.gallery-item_3
                    a(href="#").gallery-item__link
                      img(src="img/gallery/barber.jpeg", alt="").gallery-item__image
          .gallery-block.gallery-block_4
            .gallery-block__container
              .gallery-block__content
                .gallery-block__row
                  .gallery-item.gallery-item_1
                    a(href="#").gallery-item__link
                      img(src="img/gallery/barber.jpeg", alt="").gallery-item__image
                  .gallery-item.gallery-item_2
                    a(href="#").gallery-item__link
                      img(src="img/gallery/barber.jpeg", alt="").gallery-item__image
                  .gallery-item.gallery-item_stub
                  .gallery-item.gallery-item_3
                    a(href="#").gallery-item__link
                      img(src="img/gallery/barber.jpeg", alt="").gallery-item__image