mixin photo()
  .gallery-item
    a(href="#").gallery-item__link
      img(src="img/gallery/barber.jpeg", alt="").gallery-item__image
.gallery
  .gallery__background.background.lazy(data-src='img/backgrounds/bg_gallery.png')
  .block-head
    .block-head__background.background.lazy(data-src='img/backgrounds/bg_title.png')
    span.block-head__decoration.block-head__decoration_left
    span.block-head__title.block-head__title_icons мы рекомендуем
    span.block-head__decoration.block-head__decoration_right
  .gallery__wrap
    .container
      .gallery__container
        .gallery__row
          .gallery-block.gallery-block_1
            .gallery-block__container
              .gallery-block__content
                .gallery-block__row
                  .gallery-item.gallery-item_1
                    a(href="#").gallery-item__link
                      img(src="img/gallery/barber.jpeg", alt="").gallery-item__image
                  .gallery-item.gallery-item_stub
                  .gallery-item.gallery-item_2
                    a(href="#").gallery-item__link
                      img(src="img/gallery/barber.jpeg", alt="").gallery-item__image
                  .gallery-item.gallery-item_3
                    a(href="#").gallery-item__link
                      img(src="img/gallery/barber.jpeg", alt="").gallery-item__image
          .gallery-block.gallery-block_2
            .gallery-block__container
              .gallery-block__content
                .gallery-block__row
                  .gallery-item.gallery-item_1
                    a(href="#").gallery-item__link
                      img(src="img/gallery/barber.jpeg", alt="").gallery-item__image
                  .gallery-item.gallery-item_stub
                  .gallery-item.gallery-item_2
                    a(href="#").gallery-item__link
                      img(src="img/gallery/barber.jpeg", alt="").gallery-item__image
                  .gallery-item.gallery-item_3
                    a(href="#").gallery-item__link
                      img(src="img/gallery/barber.jpeg", alt="").gallery-item__image
        .gallery__row.gallery__row_center
          .gallery-block.gallery-block_big
            .gallery-block__container
              .gallery-block__content
                .gallery-block__row
                  .gallery-item
                    a(href="#").gallery-item__link
                      img(src="img/gallery/barber.jpeg", alt="").gallery-item__image
          .gallery-block.gallery-block_title
            .gallery-block__container
              .gallery-block__content.gallery-block__content_title
                img(src="img/gallery/top.jpg", alt="").gallery-block__image
          .gallery-block.gallery-block_big
            .gallery-block__container
              .gallery-block__content
                .gallery-block__row
                  .gallery-item
                    a(href="#").gallery-item__link
                      img(src="img/gallery/barber.jpeg", alt="").gallery-item__image
        .gallery__row
          .gallery-block.gallery-block_3
            .gallery-block__container
              .gallery-block__content
                .gallery-block__row
                  .gallery-item.gallery-item_1
                    a(href="#").gallery-item__link
                      img(src="img/gallery/barber.jpeg", alt="").gallery-item__image
                  .gallery-item.gallery-item_2
                    a(href="#").gallery-item__link
                      img(src="img/gallery/barber.jpeg", alt="").gallery-item__image
                  .gallery-item.gallery-item_stub
                  .gallery-item.gallery-item_3
                    a(href="#").gallery-item__link
                      img(src="img/gallery/barber.jpeg", alt="").gallery-item__image
          .gallery-block.gallery-block_4
            .gallery-block__container
              .gallery-block__content
                .gallery-block__row
                  .gallery-item.gallery-item_1
                    a(href="#").gallery-item__link
                      img(src="img/gallery/barber.jpeg", alt="").gallery-item__image
                  .gallery-item.gallery-item_2
                    a(href="#").gallery-item__link
                      img(src="img/gallery/barber.jpeg", alt="").gallery-item__image
                  .gallery-item.gallery-item_stub
                  .gallery-item.gallery-item_3
                    a(href="#").gallery-item__link
                      img(src="img/gallery/barber.jpeg", alt="").gallery-item__image