section.gallery.section
  .gallery__wrap
    .container
      .gallery__container
        .gallery__row
          .gallery-block.gallery-block_1
            .gallery-block__container
              .gallery-block__content
                .gallery-block__row
                  .gallery-item.gallery-item_1
                    a(href="#").gallery-item__link
                      .gallery-item__image.cover-box
                        img(data-src="img/gallery/barber1.jpg", alt="").lazy
                  .gallery-item.gallery-item_stub
                  .gallery-item.gallery-item_2
                    a(href="#").gallery-item__link
                      .gallery-item__image.cover-box
                        img(data-src="img/gallery/barber1.jpg", alt="").lazy
                  .gallery-item.gallery-item_3
                    a(href="#").gallery-item__link
                      .gallery-item__image.cover-box
                        img(data-src="img/gallery/barber1.jpg", alt="").lazy
          .gallery-block.gallery-block_2
            .gallery-block__container
              .gallery-block__content
                .gallery-block__row
                  .gallery-item.gallery-item_1
                    a(href="#").gallery-item__link
                      .gallery-item__image.cover-box
                        img(data-src="img/gallery/barber1.jpg", alt="").lazy
                  .gallery-item.gallery-item_stub
                  .gallery-item.gallery-item_2
                    a(href="#").gallery-item__link
                      .gallery-item__image.cover-box
                        img(data-src="img/gallery/barber1.jpg", alt="").lazy
                  .gallery-item.gallery-item_3
                    a(href="#").gallery-item__link
                      .gallery-item__image.cover-box
                        img(data-src="img/gallery/barber1.jpg", alt="").lazy
        .gallery__row.gallery__row_center
          .gallery-block.gallery-block_big
            .gallery-block__container
              .gallery-block__content
                .gallery-block__row
                  .gallery-item
                    a(href="#").gallery-item__link
                      .gallery-item__image.cover-box
                        img(data-src="img/gallery/barber2.jpg", alt="").lazy
          .gallery-block.gallery-block_title
            .gallery-block__container
              .gallery-block__content.gallery-block__content_title
                .gallery-block__image.cover-box
                  img(data-src="img/gallery/top.jpg", alt="").lazy
          .gallery-block.gallery-block_big
            .gallery-block__container
              .gallery-block__content
                .gallery-block__row
                  .gallery-item
                    a(href="#").gallery-item__link
                      .gallery-item__image.cover-box
                        img(data-src="img/gallery/barber2.jpg", alt="").lazy
        .gallery__row
          .gallery-block.gallery-block_3
            .gallery-block__container
              .gallery-block__content
                .gallery-block__row
                  .gallery-item.gallery-item_1
                    a(href="#").gallery-item__link
                      .gallery-item__image.cover-box
                        img(data-src="img/gallery/barber1.jpg", alt="").lazy
                  .gallery-item.gallery-item_2
                    a(href="#").gallery-item__link
                      .gallery-item__image.cover-box
                        img(data-src="img/gallery/barber1.jpg", alt="").lazy
                  .gallery-item.gallery-item_stub
                  .gallery-item.gallery-item_3
                    a(href="#").gallery-item__link
                      .gallery-item__image.cover-box
                        img(data-src="img/gallery/barber1.jpg", alt="").lazy
          .gallery-block.gallery-block_4
            .gallery-block__container
              .gallery-block__content
                .gallery-block__row
                  .gallery-item.gallery-item_1
                    a(href="#").gallery-item__link
                      .gallery-item__image.cover-box
                        img(data-src="img/gallery/barber1.jpg", alt="").lazy
                  .gallery-item.gallery-item_2
                    a(href="#").gallery-item__link
                      .gallery-item__image.cover-box
                        img(data-src="img/gallery/barber1.jpg", alt="").lazy
                  .gallery-item.gallery-item_stub
                  .gallery-item.gallery-item_3
                    a(href="#").gallery-item__link
                      .gallery-item__image.cover-box
                        img(data-src="img/gallery/barber1.jpg", alt="").lazy