.account-nav
  ul.account-nav__list
    li.account-nav__item
      a(href="lcb/lcb_moya-stranitsa.html").account-nav__link Моя страница
    li.account-nav__item
      a(href="lcv/lcv_poisk-modelei.html").account-nav__link Поиск моделей