.account-nav
  ul.account-nav__list
    li.account-nav__item
      a(href="lcv/lcv_dannie.html").account-nav__link Мои данные
    li.account-nav__item
      a(href="lcv/lcv_barbershop.html").account-nav__link Мой Барбершоп
    li.account-nav__item
      a(href="lcv/lcv_moi-sotrudniki.html").account-nav__link Мои сотрудники
    li.account-nav__item
      a(href="#").account-nav__link Поиск сотрудников
    li.account-nav__item
      a(href="#").account-nav__link Поиск моделей
    li.account-nav__item
      a(href="#").account-nav__link Помощники 
    li.account-nav__item
      a(href="#").account-nav__link Ассистент
    li.account-nav__item
      a(href="#").account-nav__link Реклама
    li.account-nav__item
      a(href="#").account-nav__link Соц. Сети
    li.account-nav__item
      a(href="#").account-nav__link Магазин
    li.account-nav__item
      a(href="#").account-nav__link Бухгалтерия