.account-nav
  ul.account-nav__list
    li.account-nav__item
      a(href="lcv/lcv_dannie.html").account-nav__link Мои данные
    li.account-nav__item
      a(href="lcv/lcv_barbershop.html").account-nav__link Мой Барбершоп
    li.account-nav__item
      a(href="lcv/lcv_moi-sotrudniki.html").account-nav__link Мои сотрудники
    li.account-nav__item
      a(href="lcv/lcv_poisk-sotridnikov.html").account-nav__link Поиск сотрудников
    li.account-nav__item
      a(href="lcv/lcv_poisk-modelei.html").account-nav__link Поиск моделей
    li.account-nav__item
      a(href="lcv/lcv_events.html").account-nav__link События 
    li.account-nav__item
      a(href="http://assistant.mybarbershop.ru/").account-nav__link Ассистент