.map
  .map-head
    .map-head__background.background.lazy(data-src='img/backgrounds/bg_title.png')
    .map-head__container
      .container
        form(action="").map-form
          .map-form__section
            .search
              input(type="text" placeholder="Город / метро Арбатская / улица Арбат / Выбрать сеть / мастер и тд. ..." required).input.input_style1.search__input
              button.search__button
                i.fas.fa-search
  .map__container