.map
  .map-head
    .map-head__background.background.lazy(data-src='img/backgrounds/bg_title.png')
    .map-head__container
      .container
        form(action="").map-filter
          .map-filter__section.map-filter__section_search
            .search
              input(type="text" placeholder="Город / метро Арбатская / улица Арбат / Выбрать сеть / мастер и тд. ..." required).input.input_style1.search__input
              button.search__button
                i.fas.fa-search
          .map-filter__section.map-filter__section_filter
            .map-filter__container
              .map-filter__title Режим работы:
              .map-filter__content
                .map-filter-value
                  input(id='map-filter-value-1' type="checkbox").map-filter-value__input
                  label(for='map-filter-value-1').map-filter-value__container.map-filter-value__container_style1.map-filter-value__container_value1
                    .map-filter-value__title с утра
                .map-filter-value
                  input(id='map-filter-value-2' type="checkbox").map-filter-value__input
                  label(for='map-filter-value-2').map-filter-value__container.map-filter-value__container_style1.map-filter-value__container_value2
                    .map-filter-value__title до поздна
                .map-filter-value
                  input(id='map-filter-value-3' type="checkbox").map-filter-value__input
                  label(for='map-filter-value-3').map-filter-value__container.map-filter-value__container_style1.map-filter-value__container_value3
                    .map-filter-value__title круглосуточно
            span.map-filter__decoration
            .map-filter__container
              .map-filter__title Стоимость услуг:
              .map-filter__content
                .map-filter-value
                  input(id='map-filter-value-4' type="checkbox").map-filter-value__input
                  label(for='map-filter-value-4' title='от 100 до 550р').map-filter-value__container.map-filter-value__container_style2.map-filter-value__container_value4.tooltip
                    .map-filter-value__title Premium
                .map-filter-value
                  input(id='map-filter-value-5' type="checkbox").map-filter-value__input
                  label(for='map-filter-value-5' title='от 550 до 1000р').map-filter-value__container.map-filter-value__container_style2.map-filter-value__container_value5.tooltip
                    .map-filter-value__title Standard
                .map-filter-value
                  input(id='map-filter-value-6' type="checkbox").map-filter-value__input
                  label(for='map-filter-value-6' title='от 1000р').map-filter-value__container.map-filter-value__container_style2.map-filter-value__container_value6.tooltip
                    .map-filter-value__title Economy
  .map__container
    div(id='map')