.myplace
  a.myplace__link.tooltip.modal(href="javascript:;" data-src="#auth" title='для того чтобы назначить барбершоп по умолчанию ЗАРЕГИСТРИРУЙТЕСЬ!').modal-link
    img(src="img/logos/myplace.svg", alt="").myplace__image