mixin news(title)
  .news-block
    a(href="#").news-block__container
      img(src="img/gallery/image1.jpg", alt="").news-block__image
      span.news-block__title=title
.news(id='news')
  .block-head.block-head_background
    .block-head__background.background.lazy(data-src='img/backgrounds/bg-logos.png')
    .block-head__container
      span.main-decoration
      span.block-head__title Новости
      span.main-decoration
  .container
    .news__container
      +news('ОТКРЫЛСЯ Аутентичный салон')
      +news('Борода как ОБЕРЕГ')
      +news('ОТКРЫЛСЯ Аутентичный салон и еще какой-либо длинный текст')
      +news('ОТКРЫЛСЯ Аутентичный салон')
      +news('Борода как ОБЕРЕГ')
      +news('ОТКРЫЛСЯ Аутентичный салон и еще какой-либо длинный текст')
    .news__more
      a(href="#").news__button Архив Новостей
    