.news
  .block-head
    .block-head__background.background.lazy(data-src='img/backgrounds/bg_title.png')
    span.block-head__decoration.block-head__decoration_left
    span.block-head__title Новости
    span.block-head__decoration.block-head__decoration_right
  .container
    .news__container
    