.map
  .block-head.block-head_background
    .block-head__background.background.lazy(data-src='img/backgrounds/bg-logos.png')
    span.block-head__decoration.block-head__decoration_left
    span.block-head__title местоположение
    span.block-head__decoration.block-head__decoration_right
  .map__container
    div(id='map')