.place
  .block-head.block-head_background
    .block-head__background.background.lazy(data-src='img/backgrounds/bg-logos.png')
    .decorated
      span.decoration
      span.block-head__title местоположение
      span.decoration
  include map
  