//share
.share-area
  .share-area__container
    .share-area__content
      .share-area__wrap
        #fb-root
        .fb-like.share-area__item(data-width='', data-layout='button_count', data-action='like', data-size='large', data-show-faces='false', data-share='false')
        #vk_like.share-area__item
        #ok_shareWidget.share-area__item
    button.share-area__close
      i.fas.fa-times
//regisrtation
.popup.popup1(id="registration")
  .popup__container
    .popup1__head
      span.popup1__title Зарегистрироваться как:
    .popup1__content
      form(action="").popup1-form
        .popup1-form__section
          .row
            .popup1-form__item.col-xl-6
              label.checkbox.checkbox_dark
                input(type="radio" name='val1')
                i.fas.fa-check
                span клиент
            .popup1-form__item.col-xl-6
              label.checkbox.checkbox_dark
                input(type="radio" name='val1')
                i.fas.fa-check
                span барбер 
            .popup1-form__item.col-xl-6
              label.checkbox.checkbox_dark
                input(type="radio" name='val1')
                i.fas.fa-check
                span управляющий
            .popup1-form__item.col-xl-6
              label.checkbox.checkbox_dark
                input(type="radio" name='val1')
                i.fas.fa-check
                span администратор
            .popup1-form__item.col-xl-12
              label.checkbox.checkbox_dark
                input(type="radio" name='val1')
                i.fas.fa-check
                span владелец барбершопа
        .popup1-form__section
          .row
            .popup1-form__item.col-xl-12
              input(type="text" placeholder="Email/Телефон/Логин" required).input.input_fluid.input_style3
            .popup1-form__item.col-xl-12
              input(type="password" placeholder="Пароль" required).input.input_fluid.input_style3
            .popup1-form__item.col-xl-12
              input(type="password" placeholder="Пароль еще раз" required).input.input_fluid.input_style3
        .popup1-form__section
          label.checkbox.popup1-form__item
            input(type="checkbox" name='#')
            i.fas.fa-check
            span Я согласен(на) 
              a(href="#") с правилами сайта
        .popup1-form__section
          button(type='submit').button.button_fluid.button_style4 Зарегистрироваться
        .popup1-form__section
          .row
            .popup1-form__item.col-xl-12
              span.popup1-form__title или войти с помощью
            .popup1-form__auth-list.col-xl-12
              .row.row_content-center
                li.popup1-form__auth-item.col-xl-auto
                  a(href="#").popup1-form__auth-link
                    i.fab.fa-facebook-f
                li.popup1-form__auth-item.col-xl-auto
                  a(href="#").popup1-form__auth-link
                    i.fab.fa-vk
                li.popup1-form__auth-item.col-xl-auto
                  a(href="#").popup1-form__auth-link
                    i.fab.fa-twitter
                li.popup1-form__auth-item.col-xl-auto
                  a(href="#").popup1-form__auth-link
                    i.fab.fa-odnoklassniki
                li.popup1-form__auth-item.col-xl-auto
                  a(href="#").popup1-form__auth-link
                    i.fab.fa-google-plus-g
                li.popup1-form__auth-item.col-xl-auto
                  a(href="#").popup1-form__auth-link
                    i.fab.fa-yandex
//auth
.popup.popup1(id="auth")
  .popup__container
    .popup1__head
      span.popup1__title Вход в личный кабинет:
    .popup1__content
       form(action="").popup1-form
        .popup1-form__section
          .row
            .popup1-form__item.col-xl-12
              input(type="text" placeholder="Email/Телефон/Логин" required).input.input_fluid.input_style3
            .popup1-form__item.col-xl-12
              input(type="password" placeholder="Пароль" required).input.input_fluid.input_style3
        .popup1-form__section
          .row
            .popup1-form__item.col-xl-auto
              button(type='submit').button.button_style5 Забыли пароль?
            .popup1-form__item.col-xl
              button(type='submit').button.button_fluid.button_style4 Войти
        .popup1-form__section
          .row
            .popup1-form__item.col-xl-12
              span.popup1-form__title или войти с помощью
            .popup1-form__auth-list.col-xl-12
              .row.row_content-center
                li.popup1-form__auth-item.col-xl-auto
                  a(href="#").popup1-form__auth-link
                    i.fab.fa-facebook-f
                li.popup1-form__auth-item.col-xl-auto
                  a(href="#").popup1-form__auth-link
                    i.fab.fa-vk
                li.popup1-form__auth-item.col-xl-auto
                  a(href="#").popup1-form__auth-link
                    i.fab.fa-twitter
                li.popup1-form__auth-item.col-xl-auto
                  a(href="#").popup1-form__auth-link
                    i.fab.fa-odnoklassniki
                li.popup1-form__auth-item.col-xl-auto
                  a(href="#").popup1-form__auth-link
                    i.fab.fa-google-plus-g
                li.popup1-form__auth-item.col-xl-auto
                  a(href="#").popup1-form__auth-link
                    i.fab.fa-yandex
        .popup1-form__section.t-a-center
          a(href="#").button.button_style6 зарегистрироваться