mixin block()
  .slide.portfolio-block
    a(href="img/gallery/haircut.jpg" data-fancybox='gallery1').cover-box&attributes(attributes)
      img(data-src="img/gallery/haircut.jpg", alt="").lazy

section.section.portfolio
  .section__head
    .decorated
      span.decoration
      h5.section__head-title моё портфолио
      span.decoration
  .container
    .slider.slider_arrows.portfolio-slider.slider_default
      +block()(data-caption="Описание фотографии которое беретя из админки, какой-либо текст")
      +block()(data-caption="Что-либо другое")
      +block()(data-caption="Описание фотографии которое беретя из админки, какой-либо текст")
      +block()(data-caption="Что-либо другое")
      +block()(data-caption="Описание фотографии которое беретя из админки, какой-либо текст")
      +block()(data-caption="Что-либо другое")
        
