.preference
  .block-head
    .block-head__container
      span.main-decoration
      span.block-head__title.block-head__title_stars предпочтения<br> по месту работы
      span.main-decoration
  include map
  