mixin slide(text)
  .publications-slide.js-auto-height__item
    .publications-slide__container
      .publications-slide__image
        img(data-src="img/gallery/image2.jpg", alt="").lazy
      .publications-slide__content
        .publications-slide__section
          span.publications-slide__title Для тех кто любит погорячее.
          p.publications-slide__text=text
        a(href="#").publications-slide__read Подробнее
          i.fas.fa-angle-double-right
.publications
  .block-head
    .block-head__container
      span.main-decoration
      span.block-head__title.block-head__title_stars мои публикации
      span.main-decoration
  .publications__container
    .container
      .slider.slider_arrows.publications__slider.js-auto-height
        +slide('«На этой странице в первую очередь мы видим баннер, как на главной, потом карту с поисокм и фильтром (фильтр нужен для того, чтобы включить или отключить сетевые ббш или ')
        +slide('«Ржлмвомвлдомцку лолдшва ошгмуцпт  укекщш дшошг и  гщшиг 1234 щт ш щт7 лор. В профессию я пришел неожиданно. Ждал своей очереди в парикмахерской и заметил, как выходящие клиенты тепло благодарили своих мастеров. Плгн\слогвр\а лолдапо длыопдкцгпш ждпкужшркщушп Это меня и ')
        +slide('«нужен для того, чтобы включить или отключить сетевые ббш или ')
        +slide('«укекщш дшошг и  гщшиг 1234 щт ш щт7 лор. В профессию я пришел неожиданно. Ждал своей очереди в парикмахерской и заметил, как выходящие клиенты тепло благодарили своих мастеров. Плгн\слогвр\а лолдапо длыопдкцгпш ждпкужшркщушп Это меня и ')
      .publications__archive
        span.main-decoration.main-decoration_left
        a(href="#").publications__archive-link архив публикаций
        span.main-decoration.main-decoration_right