.salon-info
  .container
    .salon-info__container.row
      .salon-info__section.col-xl-auto.col-sm-6.col-12
        img(src="img/logos/britva.jpg", alt="logo").salon-info__image
        .salon-info__link
          a(href="britvabarber.ru") britvabarber.ru
      .salon-info__section.col-xl.col-sm-6.col-12
        span.salon-info__adress
          i.fas.fa-map-marker-alt
          | Москва, Округ ЮЗАО, Район Ясенево, Новоясеневский проспект, 9
        a(href="#").button.button_style4.small Вся сеть
      .salon-info__section.col-xl.col-sm-6.col-12
        span.salon-info__time.t-a-center
          | Время работы: ежедневно:<br> 
          strong.t-size-24.c-main 11:00 - 22:00
        a(href="#").button.button_style1.small Записаться онлайн
      .salon-info__section.col-xl-auto.col-sm-6.col-12
        ul.salon-info__numbers.c-main
          li
            a(href="tel:+7 (499) 450-57-44")
              strong +7 (499) 450-57-44
          li
            a(href="tel:+7 (499) 450-57-44")
              strong +7 (000) 000-00-00
        .socials.socials_style2
          ul.socials__list.row.row_compact
            li.socials__item.col-xl-auto
              a(href="#").socials__link
                i.fab.fa-facebook-f
            li.socials__item.col-xl-auto
              a(href="#").socials__link
                i.fab.fa-vk
            li.socials__item.col-xl-auto
              a(href="#").socials__link
                i.fab.fa-instagram
            li.socials__item.col-xl-auto
              a(href="#").socials__link
                i.fab.fa-odnoklassniki
            li.socials__item.col-xl-auto
              a(href="#").socials__link
                i.fab.fa-twitter
      