mixin block()
  section.small-news-block.col-xl-12.col-sm-6.col-12
    .small-news-block__container
      .row.row_h100
        .col-xl-4.col-sm-12.col-5
          a(href="news-item.html").small-news-block__image
            .cover-box
              img(data-src="img/gallery/news.jpg", alt="").lazy
        .small-news-block__content.col-xl-8.col-sm-12.col-7
          .row.row_h100.row_ac-sb.row_flex-end
            .col-xl-12
              h6.small-news-block__title Концерт «ZZ TOP»
              span.small-news-block__text Фоторепортаж с концерта оторепортаж с концерта
              span.small-news-block__date 23/10/2019
            .small-news-block__button.col-xl-8.col-md-12
              a(href="news-item.html").button.button_style4.small Подробнее
mixin block2()
  section.small-news-block.col-xl-4.col-md-6.col-12
    .small-news-block__container
      .row.row_h100
        .col-xl-5.col-sm-12.col-5
          a(href="news-item.html").small-news-block__image
            .cover-box
              img(data-src="img/gallery/news.jpg", alt="").lazy
        .small-news-block__content.col-xl-7.col-sm-12.col-7
          .row.row_h100.row_ac-sb.row_flex-end
            .col-xl-12
              h6.small-news-block__title Концерт «ZZ TOP»
              span.small-news-block__text Фоторепортаж с концерта
              span.small-news-block__date 23/10/2019
            .small-news-block__button.col-xl-8.col-md-12
              a(href="news-item.html").button.button_style4.small Подробнее
mixin block3()
  section.small-news-block.col-xl-6.col-12
    .small-news-block__container
      .row.row_h100
        .col-xl-5.col-sm-12.col-5
          a(href="news-item.html").small-news-block__image
            .cover-box
              img(data-src="img/gallery/news.jpg", alt="").lazy
        .small-news-block__content.col-xl-7.col-sm-12.col-7
          .row.row_h100.row_ac-sb.row_flex-end
            .col-xl-12
              h6.small-news-block__title Концерт «ZZ TOP»
              span.small-news-block__text Фоторепортаж с концерта
              span.small-news-block__date 23/10/2019
            .small-news-block__button.col-xl-8.col-md-12
              a(href="#").button.button_style9.small
                i.far.fa-trash-alt
                | Удалить