mixin block(title, text)
  .work-block
    .background.lazy(data-src='img/backgrounds/bg-logos.png')
    .block-head
      .block-head__container
        span.main-decoration
        span.block-head__title.block-head__title_icons=title
        span.main-decoration
    .work-block__filter
      .container
        form(action="").work-block__form
          .work-block__items
            .work-block-item
              label.work-block-item__container.label
                .work-block-item__content
                  span.work-block-item__title БАРБЕР
                  i.fas.fa-cut.work-block-item__icon
                .decotarive-line
                .work-block-item__content
                  .work-block-item__count
                    span 234
                    span=text
            .work-block-item
              label.work-block-item__container.label
                .work-block-item__content
                  span.work-block-item__title АДМИНИСТРАТОР
                  i.fas.fa-clipboard-list.work-block-item__icon
                .decotarive-line
                .work-block-item__content
                  .work-block-item__count
                    span 44
                    span=text
            .work-block-item
              label.work-block-item__container.label
                .work-block-item__content
                  span.work-block-item__title УПРАВЛЯЮЩИЙ
                  i.fas.fa-chart-bar.work-block-item__icon
                .decotarive-line
                .work-block-item__content
                  .work-block-item__count
                    span 12
                    span=text
          .work-block__search
            .search
              input(type="text" placeholder="Город / метро Арбатская / улица Арбат / Выбрать сеть / мастер и тд. ..." required).input.input_style1.search__input
              button.search__button
                i.fas.fa-search
          .work-block__searched
            span всего найдено: <strong>27</strong> мест