doctype html
html(lang="ru")
  head
    include ../blocks/head
  body
    .background.lazy(data-src='img/backgrounds/background.jpg')
    .wrapper
      .page
        include ../blocks/header
        .page__container.container
          aside.aside
            include ../blocks/lcb-nav
          main.main
            section.section
              .section__head
                .decorated
                  span.decoration
                  h5.section__head-title Добавить публикацию
                  span.decoration
              .container
                form(action="").form
                  .form__section.row
                    .form__group.col-xl-6
                      .row
                        .form__item.col-xl-6
                          span.item-label Миниатюра:
                          .image-load-area
                            a(href="#").button.button_type-img-load Загрузить<br> изображение
                            a(href="#").button.button_type-close
                              i.fas.fa-times
                        .form__item.col-xl-6
                          span.item-label Изображение:
                          .image-load-area
                            a(href="#").button.button_type-img-load Загрузить<br> изображение
                            a(href="#").button.button_type-close
                              i.fas.fa-times
                    .form__group.col-xl-6
                      .row
                        .form__item.col-xl-12
                          span.item-label Заголовок:
                          input(type="text").input.input_style4
                        .form__item.col-xl-12
                          span.item-label Подзаголовок:
                          input(type="text").input.input_style4
                    .form__item.col-xl-12
                      span.item-label Текст:
                      textarea.input.input_style4.input_size1
                  .form__section.row
                    .form__item.col-xl-4.col-sm-6.col-12
                      button.button.button_style1 Опубликовать
            section.section
              .section__head
                .decorated
                  span.decoration
                  h5.section__head-title Мои публицации
                  span.decoration
              .container
                .mb-30
                  .row
                    include ../blocks/small-news-block
                    +block3()
                    +block3()
                .row.row_center
                  .col-xl-4.col-sm-6.col-12
                      button.button.button_style1
                        i.fas.fa-plus
                        | Показать eщё
        //footer
        include ../blocks/footer
        //other
        include ../blocks/popup
        include ../blocks/fixed
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")